{__NOLAYOUT__}
    <include file="_layout/top-login" />
<div class="clearfix"></div>



<div class="revisercode">
    <div class="container">
        <div class="revisercode-con">
            <div class="logReg">
                <h4 class="pull-left log_on">修改密码</h4>
            </div>
            <div class="clearfix"></div>
            <div class="grid-Reg">
                <form action="" method="post">
                    <div class="regLi">
                        <ul>
                            <li>
                                <div class="pull-left regL">
                                    <p>请输入密码</p>
                                </div>
                                <div class="pull-right regR">
                                    <input type="text" id=""  placeholder="请输入密码"/>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                            <li>
                                <div class="pull-left regL">
                                    <p>确定新密码</p>
                                </div>
                                <div class="pull-right regR">
                                    <input  type="text"  name="email" id="email" placeholder="确定新密码"/>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="find-btn">
                            <input class="btn btn-primary" type="submit" id="" value="提交">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="container">
    <include file="_layout/footer-login" />
</div>