<p class="MsoNormal" style="text-indent:28.0pt;">
    根据《石家庄工程职业学院<span>2022</span>年教师公开招聘公告》有关规定，现将公开招聘笔试工作有关事项公告如下：<span></span>
</p>
<p class="MsoListParagraph" style="margin-left:64.0pt;text-indent:-36.0pt;">
    <b>一、 </b><b>参加笔试人员<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    报名成功的考生于<span>2022</span>年<span>7</span>月<span>21</span>日<span>24</span>点后在网上报名系统自行下载打印《笔试准考证》，笔试人员（报名审核通过且缴费成功）需携带有效身份证、《笔试准考证》、<span>48</span>小时核酸检测证明参加笔试。<span></span>
</p>
<p class="MsoListParagraph" style="margin-left:64.0pt;text-indent:-36.0pt;">
    <b>二、 </b><b>考试时间及地点<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    （一）考试时间：<span>2022</span>年<span>7</span>月<span>23</span>日（星期六），上午<span>10</span>点—<span>11</span>点<span>30</span>分。<span></span>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    （二）考试地点：中国人力资源服务产业园桥西园区<span>6</span>层 礼贤厅<span></span>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    石家庄市桥西区胜利大街<span>118</span>号塔坛商贸城<span>3</span>号写字楼 <span></span>
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:28.0pt;">
    乘坐地铁<span>2</span>号线，在塔坛站下车，向西步行<span>600</span>米到达<span></span>
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:28.0pt;">
    乘坐<span>2</span>环<span>2</span>号路公交车，在塔谈北站下车，向南步行<span>500</span>米到达<span></span>
</p>
<p class="MsoNormal" align="left" style="text-align:left;text-indent:28.0pt;">
    <img src="/upload/image/20220721/20220721144717_37351.jpg" alt="" />
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
    <b></b>
</p>
<p class="MsoNormal" style="text-indent:28.1pt;">
    <b><b>三、笔试纪律及注意事项<span></span></b></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>1、本次笔试满分<span>100</span>分，笔试时长为<span>90</span>分钟；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>2、考生必须携带本人身份证原件、笔试准考证，按规定时间提前<span>20</span>分钟进入考场参加考试，对号入座后配合监考人员核实身份；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>3、考试开始<span>30</span>分钟后考生不得进场，考试开始后不得提前离场；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>4、本次考试为闭卷考试，考生不得携带任何资料进入考场，随身携带物品（手机必须关机）放在指定位置；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>5、考生自备<span>2B</span>铅笔、橡皮、签字笔或圆珠笔。请在答卷前用签字笔或圆珠笔在答题卡（纸）上指定位置如实填写姓名、准考证号，并使用<span>2B</span>铅笔在答题卡上准确填涂考号项。姓名、准考证号不按规定填写（填涂）或填写（填涂）错误的，考试成绩无效；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>6、本次考试题目全部在答题卡（纸）上作答。所有客观题请用<span>2B</span>铅笔在答题卡上填涂所选选项，请认真阅读答题卡注意事项，参考填涂样例，按规范填涂答题卡，因填涂不规范而影响正常扫描和分数记录的题目，作答无效，后果由考生本人承担；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>7、答题卡（纸）上不准留下任何与考试无关的图案、文字，否则答题卡（纸）无效； <span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>8、宣布考试开始后，考生方可开始答题。试卷、答题卡、答题纸和草稿纸由监考老师于考试结束后分类统一收集；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>9、监考老师宣布考试结束时，考生应立即停止答题，将试卷、答题卡、答题纸和草稿纸不得带离考场，否则按违纪处理；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>10、考生不得旁窥、议论和大声喧哗；考生必须服从监考工作人员的管理，有疑问请举手示意；<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>11、考生须自觉遵守考试相关规定，如出现违纪违规行为，后果将由考生本人承担。<span></span></b>
</p>
<p class="MsoNormal">
    <b><b>四、特别提示<span></span></b></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>按照疫情防控相关规定，考生须在笔试环节，向考务工作人员出示“河北健康码”、“行程码”、“<span>48</span>小时核酸阴性证明”等，经现场测温正常后方可入场。考试当天考生进入考点后，需全程佩戴医用外科口罩，仅在入场核验身份时可以暂时摘下口罩。考生须听从考点工作人员指挥，分散进出入考场、如厕时均须与他人保持<span>1</span>米以上距离，避免近距离接触交流。<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>考试环节若考生出现发热、咳嗽等症状，由考点工作人员视情况立即采取隔离措施，送往定点医院进行医治。<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.1pt;">
    <b><b>五、咨询电话及时间<span></span></b></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>考务咨询：<span>0311-87261252</span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>咨询时间：周一至周五<span>9:00</span>—<span>12:00</span>、<span>14:00</span>—<span>17:00</span></b>
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
    <b><br />
    </b>
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
    <b>石家庄工程职业学院<span>2022</span>年教师公开招聘成绩查询通知<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:28.0pt;">
    <b>2022年<span>7</span>月<span>23</span>日<span>24:00</span>可查询笔试成绩，笔试通过者登录<span>http://gczyxy.zyhzedu.com.cn/</span>自行打印《面试准考证》<span></span></b>
</p>
<p class="MsoNormal" style="text-indent:42.0pt;">
    <b>特此通知！<span>2022</span>年<span>7</span>月<span>21</span>日<span></span></b>
</p>
<p class="MsoNormal">
    <b><br />
    </b>
</p>