
<!-- banner -->
<div>
    <include file="_layout/banner" />
</div>

<!-- 首页内容 -->
<div class="index">
    <div class="container">
            <div class="col-md-4">
                <div class="bm1">
                    <h3><a href="{:U('recruit/agreement')}">报名</a></h3>
                </div>
                <div>
                    <a href="{:U('recruit/agreement')}">
                        <img src="__PUBLIC__/images/index/1.png" class="img-responsive" id=""/>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bm2">
                    <h3><a href="{:U('user/index')}">个人信息</a> </h3>
                </div>
                <div>
                    <a href="{:U('user/index')}">
                        <img src="__PUBLIC__/images/index/2.png" class="img-responsive" id=""/>
                    </a>
                </div>
            </div>


            <div class="col-md-4">
                <div class="bm3">
                    <a href="{:U('review/index')}">
                        <h3>审核情况</h3>
                    </a>
                </div>
                <div>
                    <a href="{:U('review/index')}">
                        <img src="__PUBLIC__/images/index/3.png" class="img-responsive" id=""/></a>
                </div>
            </div>

    </div>

</div>



