<include file="Public:header" />

<style>.move_cat{display:inline-block}</style>

<div id="content">
    <div id="content-header">
		 <h1>
	<neq name="Think.session.admin.role_id" value="1">
       您好!<b>{$Think.session.admin.city_name}用户</b>,
	</neq>	
		欢迎访问{:C('SITE_TITLE')}报名审核系统
		</h1>
    </div> 
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">           
				
                <div class="widget-box">
                <form action="{:U('Article/listorders')}" method="post">
                    <div class="widget-title">
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>
                        <h5 class="pull-left">应聘人员列表&nbsp;&nbsp;&nbsp;
						
						</h5>
                    </div>
                    
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
                                <th><i class="icon-resize-vertical"></i></th>
                                <th>名称</th>
                                <th>大小</th>
                                <th>时间</th>	        
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
					
                            <volist name="list" id="vo">
                                <tr>                          
                                <td><input type="checkbox" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"/></td>							
                                <td>				
								<a href="{$vo.url}" target="_blank">{$vo.filename}</a></td>                             
								<td>{$vo.filesize}</td>
								<td>{$vo.maketime}</td>
                                <td class="center">
                                 
									<a href="{$vo.url}" target="_blank">
									<span class="btn btn-success btn-mini">下载</span>
									</a>
										<!-- <a href="" target='_blank'>导出</a> -->
                                </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                    <div class="widget-title">
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>  
				
                    </div>
                    <div class="widget-bottom">
                        <div class="dataTables_filter">
	                        
	                    </div>
                        <div class="dataTables_paginate">
                            {$pages}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/recruit_list.js"></script>
<script src="__PUBLIC__/js/recruit.js"></script>
<script>
var web_status = {$status};
function moveto(){
	$('.move_cat').toggle();
}
$(document).ready(function(){
	var ids;
	$('.btn-do').click(function(){
		ids = get_ids();
		var checked = $('#print-type').prop('checked');

		if(ids.length==0 && checked==false){
			layer.msg('请选择信息', {icon: 5});
			return false;
		}		
		var url = $(this).data('href');
		if(url.indexOf('?')!= -1){
			url+='&ids='+ids;
		}else{
			url+='?ids='+ids;
		}
		if($(this).attr('id')=='btn-print'){
			window.open(url,'_blank');  
		}else if($(this).attr('id')=='btn-verify'){
			location.href = url;  
		}else{
			location.href = $(this).data('href')+'?'+$('#searchform').serialize();
		}				
		return false;
	});
	
	$('.btn-unlock').click(function(){
		var id = get_ids();
		if(id.length==0) {
			layer.msg('请选择信息', {icon: 5});
			return false;
		}
		if(id.length > 1) {
			layer.msg('一次只能解锁一个用户', {icon: 5});
			return false;
		}
		var url = $(this).data('href');
		if(url.indexOf('?')!= -1){
			url+='&id='+id;
		}else{
			url+='?id='+id;
		}
		location.href = url;  
	});
	
	function get_ids(){
		return $(':checkbox[name="ids[]"]:checked').map(function(){
			return $(this).val();
		}).get();
	}
	$("a[id^=detail_]").click(function(){	
		var target = $(this);
		var id = target.prop('id').replace('detail_','');		
		layer.open({
		  type: 2,
		  closeBtn: true,
		  shadeClose: true,
		  area: ['60%', '90%'],
		  fixed: false, //不固定
		  maxmin: true,
		  btn: ['保存', '直接关闭'],
		  yes: function(index, layero){
			var body = layer.getChildFrame('body', index);
			var obj = body.find(':radio[name="status"]:checked');
			var len = obj.length;
			if(len == 0) {
				layer.msg('请审核',{icon:5});return false;
			}
			var status = obj.val();
			var remark = $.trim(body.find('#remark').val());
			$.post('/index.php/admin2/recruit/detail?id='+id,{remark:remark,status:status},function(json){
				if(json.status==1) {
					if(web_status==0) {
						location.reload();return false;
					}
					if(web_status!=status) {
						target.closest('tr').fadeOut();
					}
					
					layer.closeAll();
					return false;
				}
				layer.msg(json.info,{icon:5});
				return false;
			});
			
		  },
		  btn2: function(){
			layer.closeAll();
		  },
		  content: '/index.php/admin2/recruit/detail?id='+id
		});
	});
	$("a[id^=avatar]").click(function(){
		var src = $(this).data('src');
		layer.open({  
		  type: 1,
		  title: false,
		  closeBtn: true,
		  shade: false,
		  area: '200px',
		  skin: 'layui-layer-nobg', //没有背景色
		  shadeClose: true,
		  content: '<img src="/'+src+'" alt="头像">'
		});
	})
Recruit.bind($('#recurit_unit'),$('#recurit_job'));	
Recruit.childSelect($('#recurit_unit'),$('#recurit_job'));	
})
</script>
<include file="Public:footer" />