<include file="Public:header" />
		<div id="content">
			<div id="content-header">
				<h1>管理系统</h1>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							
							<div class="widget-content nopadding">
								欢迎
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2014 &copy; DODICMS, Update source by <a href="##">中青旅博汇人才招考系统</a>
					</div>
				</div>
			</div>
		</div>
<include file="Public:footer" />