
<div class="container personal">
    <div class="per-left">
        <div class="per-tou">
            <div class="per-tou-img">
                <img src="__PUBLIC__/images/personal/touxiang.png" class="img-responsive">
            </div>
            <p>我是{$Think.session.user.username}</p>
        </div>
		<include file="menu"/>
    </div>

    <div class="per-right ">
		
        <div class="per-code">
            <h4>密码管理</h4>
			<form id="user_pwd_edit" >
            <div class="per-code-con">
                <div class="code-left">
                    <p>密码修改</p>
                </div>
                <div class="code-right">
					
                    <div class="code-top">
                        <p>原&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码&nbsp;：</p><input type="password" value="" name="userpwd" placeholder="请输入原密码">
                    </div>
                    <div class="code-bom">      
						<div class="code-bom-left" >
                            <p>新&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码&nbsp;：</p><input type="password" value="" name="confirmpwd" placeholder="请输入确认密码">
                        </div>
                        <div class="code-bom-right">
                            <p>确认新密码：</p><input type="password" value="" name="newpwd"  id="newpwd" placeholder="再次输入新密码">
                        </div>
						
                    </div>
					
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="code-btn">
                <!-- <a>忘记密码</a> --><br/>
                <input type="submit" class="saveBtn" id="user_pwd_btn" value="保存修改">
            </div>
			</form>
        </div>
    </div>
</div>
<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script src="__PUBLIC__/js/jquery.validate.js"></script>
<script src="__PUBLIC__/js/main.js"></script>
<script src="__PUBLIC__/js/user-valiate.js?v=20170819"></script>
<script src="__PUBLIC__/js/jquery.placeholder.min.js?v=698"></script>
<script type="text/javascript">
$(function(){ $('input').placeholder(); });
</script>
<style>
.pwdtip{color: red; display: inline;padding-left: 15px;}
.easytip{
text-align: left; position: relative; left:30px; top: 8px;z-index:7770;
}
.easytip-text{
	text-align: left;padding: 10px;min-width: 120px;color: #fff;background-color: #6699cc;border: 1px solid #6699cc;border-radius: 5px;
}
.easytip-arrow{
padding: 0px; margin: 0px; width: 0px; height: 0px; position: absolute; border-width: 10px; border-style: solid; border-image: initial; border-color: transparent #6699cc transparent transparent; left: -20px; top: 11.5px;
}

</style>


