
<div class="projects">
        <div class="container projects-con">
            <div class="explain">
                <div class="exp-tit">
                    <h3>2022年石家庄工程职业学院业务操作岗位聘用制员工</h3>
                    <h3>报名表填写说明</h3>
                </div>
                <div class="exp-con">
                    <p>1. 个人资料填写部分不能为空（高中及以下学历的所学专业不用填）。</p>
                    <p>2.“出生日期” 、“教育情况”、“工作经历”时间根据实际情况选填。</p>
                    <p>3.个人资料中：学历栏填写符合报考岗位条件的学历，所学专业栏填写该学历下的专业。</p>
                    <p>4.“报考科室”、“报考岗位”可在下拉菜单中选填。</p>
                    <p>5.“毕业院校”、“所学专业”、“学位”按照毕业证、学位证上的名称规范填写。<b>“所学专业”需填写第一学历专业。</b></p>
                    <p>6.“家庭主要成员情况”中，“工作单位”填写时：务农的直接填写“务农”，不是务农也没有工作单位的填写“待业”。已婚人员需填写配偶情况。</p>
                    <p>7. 考生本人在此确认，在本表中提供的有关信息是真实准确的，如有虚假同意被取消考试及聘用资格。考生本人同意单位在必要的情况下对有关信息进行调查。此外，生本人清楚以下事实：如果在2017年6月19日前没有接到有关通知，本次申请失效。</p>
                    <p>8. 注意：①邮箱格式必须填写规范，保证能够收到邮件信息，群发邮件时由于考生邮箱问题没有收到邮件的，后果自负。②手机号码务必填写正确，保证通讯畅通，保证能够联系到考生本人。</p>
                    <p>9.未按照相关要求报名的人员，将按网上报名未通过处理。</p>
                </div>
                <div class="exp-btn">
                    <a class="btn btn-primary" href="{:U('Projects/index')}">同意</a>
                    <a class="btn btn-default active" href="{:U('Index/index')}" >返回首页</a>
                </div>
            </div>
        </div>
</div>
