
<div class="projects">
        <div class="container projects-con">

                <table align="center" width="1000" height="1350"  cellpadding="0" cellspacing="0"  border=1 bordercolor="#00ff99">

                    <tr>
                        <td colspan="10" align="center" style="font-size:20px; font-family: '黑体' ">2022年石家庄工程职业学院业务操作岗位聘用制员工报名表</td>
                    </tr>
                    <tr>
                        <td colspan="10" align="left" style="font-size:18px; background:#feffde;">个人资料</td>

                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">姓名:</td>
                        <td colspan="2" height="55"    align="center">{$vo.name}我是名字</td>
                        <td colspan="1" height="55"    align="center">性别:</td>
                        <td colspan="1" height="55"    align="center">{$sex[$vo['sex']]}男</td>
                        <td colspan="2" height="55"    align="center">出生日期:</td>
                        <td colspan="2" height="55"    align="center">{$vo.birth}2000年3月2日</td>
                        <td colspan="1" align="center" rowspan="5" align="center">
                            <img src="__PUBLIC__/images/personal/11.png" width="200" class="code" id=""/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">户口所在地:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}石家庄新华区建林派出所</td>
                        <td colspan="1" height="55"    align="center">政治面貌:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}党员</td>
                        <td colspan="2" height="55"    align="center">健康状况:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}良好</td>
                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">婚姻状况:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}已婚</td>
                        <td colspan="1" height="55"    align="center">身高:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}168CM</td>
                        <td colspan="2" height="55"    align="center">体重:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}80KG</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">所学专业:</td>
                        <td colspan="7" height="55"    align="center">{$vo.fathertel}土木工程专业</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">毕业院校:</td>
                        <td colspan="7" height="55"    align="center">{$vo.fathertel}石家庄经济学院</td>
                    </tr>

                    <tr>
                        <td colspan="2" height="55"    align="center">报考科室:</td>
                        <td colspan="3" height="55"    align="center">{$vo.father}我是报考科室报考科室</td>
                        <td colspan="2" height="55"    align="center">报考岗位:</td>
                        <td colspan="3" height="55"    align="center">{$vo.fathertel}我是报考科室报考科室</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">身份证号:</td>
                        <td colspan="3" height="55"    align="center">{$vo.father}13060219990919042</td>
                        <td colspan="2" height="55"    align="center">是否符合回避原则:</td>
                        <td colspan="3" height="55"    align="center">{$vo.fathertel}否</td>
                    </tr>
                    <tr>
                        <td colspan="10" align="left" style="font-size:18px; background:#feffde;">教育情况</td>

                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">开始日期:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}2015年6月5日</td>
                        <td colspan="1" height="55"    align="center">结束日期:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}2015年6月6日</td>
                        <td colspan="2" height="55"    align="center">学校名称:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}石家庄经济学院</td>
                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">专业:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}行政管理专业</td>
                        <td colspan="1" height="55"    align="center">学历:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}博士</td>
                        <td colspan="1" height="55"    align="center">学位:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}博士</td>
                        <td colspan="1" height="55"    align="center">是否全日制:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}是</td>
                    </tr>
                    <tr>
                        <td colspan="10" align="left" style="font-size:18px; background:#feffde;">工作经历，包含服兵役经历（如未参加工作，可不填写）</td>

                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">开始日期:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}2015年6月5日</td>
                        <td colspan="1" height="55"    align="center">结束日期:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}2015年6月5日</td>
                        <td colspan="1" height="55"    align="center">工作单位:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}我是工作单位工作单位</td>
                        <td colspan="1" height="55"    align="center">岗位或职务:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}会计总监</td>
                    </tr>
                    <tr>
                        <td colspan="10" align="left" style="font-size:18px; background:#feffde;">专业技能专业技能、特长及奖惩情况（如没有，可不填写）</td>

                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">取得的专业资格证书:</td>
                        <td colspan="8" height="55"    align="center">{$vo.score|default='0'} 取得的专业资格证书</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">其他特长:</td>
                        <td colspan="8" height="55"    align="center">{$vo.score|default='0'} 其他特长</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">奖惩情况:</td>
                        <td colspan="8" height="55"    align="center">{$vo.score|default='0'} 奖惩情况</td>
                    </tr>

                    <tr>
                        <td colspan="10" align="left" style="font-size:18px; background:#feffde;">家庭主要成员情况</td>

                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">成员关系:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}爷孙</td>
                        <td colspan="1" height="55"    align="center">姓名:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}胡汉三</td>
                        <td colspan="1" height="55"    align="center">工作单位:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}我是工作单位工作单位</td>
                        <td colspan="1" height="55"    align="center">职务:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}会计总监</td>
                    </tr>
                    <tr>
                        <td colspan="1" height="55"    align="center">成员关系:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}爷孙</td>
                        <td colspan="1" height="55"    align="center">姓名:</td>
                        <td colspan="2" height="55"    align="center">{$vo.fathertel}胡汉三</td>
                        <td colspan="1" height="55"    align="center">工作单位:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}我是工作单位工作单位</td>
                        <td colspan="1" height="55"    align="center">职务:</td>
                        <td colspan="1" height="55"    align="center">{$vo.fathertel}会计总监</td>
                    </tr>
                    <tr>
                        <td colspan="10" align="left" style="font-size:18px; background:#feffde;">联系方式</td>

                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">通讯地址:</td>
                        <td colspan="3" height="55"    align="center">{$vo.father}通讯地址通讯地址通讯地址通讯地址通讯地址</td>
                        <td colspan="2" height="55"    align="center">邮政编码:</td>
                        <td colspan="3" height="55"    align="center">{$vo.fathertel}123456</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">手机号码:</td>
                        <td colspan="3" height="55"    align="center">{$vo.father}13012341234</td>
                        <td colspan="2" height="55"    align="center">固定电话:</td>
                        <td colspan="3" height="55"    align="center">{$vo.fathertel}0311-12341234</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="55"    align="center">电子邮箱:</td>
                        <td colspan="8" height="55"    align="center">{$vo.card}11@qq.com</td>
                    </tr>

                </table>
        </div>

</div>