<div class="personal-t">
<div class="container personal">
    <div class="per-left">
        <div class="per-tou">
            <div class="per-tou-img">
                <img src="__PUBLIC__/images/personal/touxiang.png" class="img-responsive">
            </div>
            <p>我是账户名子</p>
        </div>
        <div class="per-mue">
            <h4>个人设置</h4>
            <ul>
                <li>
                    个人资料
                </li>
                <li>
                    管理密码
                </li>
                <li>
                    <a href="">修改报名信息</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="per-right ">
        <div class="per-acc">
            <h4>个人资料</h4>
            <ul>
                <li>
                    <div class="per-acc-l">
                        <p>昵称</p>
                    </div>
                    <div class="per-acc-r">
                        <input type="text" value="我是名字">
                    </div>
                </li>
                <div class="clearfix"></div>
                <li>
                    <div class="per-acc-l">
                        <p>手机号</p>
                    </div>
                    <div class="per-acc-r">
                        <input type="text" value="我是手机号">
                    </div>
                </li>
                <div class="clearfix"></div>
                <li>
                    <div class="per-acc-l">
                        <p>邮箱</p>
                    </div>
                    <div class="per-acc-r">
                        <input type="text" value="我是邮箱">
                    </div>
                </li>
            </ul>
            <div class="per-btn">
                <button>保存修改</button>
            </div>
        </div>
        <div class="per-code">
            <h4>密码管理</h4>
            <div class="per-code-con">
                <div class="code-left">
                    <p>密码修改</p>
                </div>
                <div class="code-right">
                    <div class="code-top">
                        <input type="text" value="" placeholder="请输入原密码">
                    </div>
                    <div class="code-bom">
                        <div class="code-bom-left" >
                            <input type="text" value="" placeholder="请输入新密码">
                        </div>
                        <div class="code-bom-right">
                            <input type="text" value="" placeholder="再次输入新密码">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="code-btn">
                <a>忘记密码</a>
                <button>保存修改</button>
            </div>
        </div>
    </div>
</div>
</div>


