<!DOCTYPE html>
<html lang="en">
	<head>
		<title>后台管理 - DODI互联网专家</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__COMMON__/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__COMMON__/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__COMMON__/css/colorpicker.css" />
        <link rel="stylesheet" href="__COMMON__/css/datepicker.css" />
		<link rel="stylesheet" href="__COMMON__/css/uniform.css" />
		<link rel="stylesheet" href="__COMMON__/css/select2.css" />		
		<link rel="stylesheet" href="__COMMON__/css/unicorn.main.css" />
		<link rel="stylesheet" href="__COMMON__/css/unicorn.grey.css" class="skin-color" />	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
		
		
		<div id="header">
			<h1><a href="./dashboard.html">后台管理 - DODI互联网专家</a></h1>		
		</div>
		
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">xxxxx, Welcome!</span></a></li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-th-list"></i> Tables</a>
			<ul>
				<li><a href="index.html"><i class="icon icon-home"></i> <span>后台首页</span></a></li>
				<li class="submenu active open">
					<a href="#"><i class="icon icon-th-list"></i> <span>管理员 管理</span> <span class="label">3</span></a>
					<ul>
						<li><a href="add.html">管理员 添加</a></li>
						<li class="active"><a href="index.html">管理员 列表</a></li>
					</ul>
				</li>
			</ul>
		
		</div>
		
		<div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
		</div>