
<div class="projects">
        <div class="container projects-con">
            <div class="agreement">
                <div class="agreement-tit">
                    <h3 style="text-align: center">
                        {$config.exam_year}年石家庄工程职业学院岗位聘用制员工
                    </h3>
                    <h3 style="text-align: center">报名表填写说明</h3>
                </div>
                <div class="agreement-con">
                    <p>1. 个人资料填写部分不能为空，带星号项目为必填项。</p>
                    <p>2.个人资料中：“出生年月” 、“教育情况”、“工作经历”时间根据实际情况选填。</p>

                    <p>3. 个人资料中：学历栏选填符合报考岗位条件的学历，同时选填此学历对应的学位，所学专业栏填写该学历下的专业。“所学专业”需填写第一学历专业。</p>

                    <p>4.个人资料中：“报考科室”、“报考岗位”可在下拉菜单中选填。</p>
                    <p>5.教育情况中：“毕业院校”、“所学专业”、“学位”按照毕业证、学位证上的名称规范填写。“所学专业”需填写第一学历专业。系统中可根据内容自行增加填写空间。</p>
					<p>6.工作经历和家庭主要成员情况可根据填写内容在系统中自行增加空间。“家庭主要成员情况”中，“工作单位”填写时：务农的直接填写“务农”，不是务农也没有工作单位的填写“待业”，其他正常如实填写单位情况。未婚人员须填写父母相关情况，已婚人员需要填写父母、配偶、配偶父母情况。</p>

                    <p>7. 注意：</p>
                    <p class="fo-2">①邮箱格式必须填写规范，保证能够收到邮件信息，群发邮件时由于考生邮箱问题没有收到邮件的，后果自负。</p>
                    <p class="fo-2">②手机号码务必填写正确，保证通讯畅通，保证能够联系到考生本人。</p>
                    <p>8. 未按照相关要求报名的人员，将视同放弃考试资格。</p>
                    <div class="form-fo">
                        <h4>声  明</h4>
                        <p>考生本人在此确认，在填写的报名表中提供的有关信息是真实准确的，如有虚假，同意被取消考试及聘用资格。考生本人同意单位在必要的情况下对有关信息进行调查核实。</p>
                    </div>
                    <div class="form-agreen">
                        <div>
                            <input id="fo-agree" type="checkbox" >&nbsp;本人已阅读招聘公告中关于确认参考和无故缺考事项，并认真阅读了上述填写说明及声明。
                        </div>
                        <div class="input-tip">
                            <span></span>
                        </div>
                    </div>
                    <div class="tijiao" style="text-align:center;">
                        <input type="submit" id="resume-btn" class="btn btn-primary btn-lg" value="进入报名">
                    </div>
                </div>


        </div>
        </div>

</div>
<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/js/agreement.js"></script>