
<div class="projects">
        <div class="container projects-con">
            <div class="agreement">
                <div class="agreement-tit">
                    <h3 style="text-align: center">
                        {$info.title}
                    </h3>
                    <h3 style="text-align: center">{$info.sub_title}</h3>
                </div>
                <div class="agreement-con">
                   {$more.content}
                    <div class="form-agreen">
                        <div>
                            <input id="fo-agree" type="checkbox" >&nbsp;本人已知晓本次招聘公告相关内容，并认真阅读了上述填写说明及声明。
                        </div>
                        <div class="input-tip">
                            <span></span>
                        </div>
                    </div>
                    <div class="tijiao" style="text-align:center;">
                        <input type="submit" id="resume-btn" class="btn btn-primary btn-lg" value="进入报名">
                    </div>
                </div>


        </div>
        </div>

</div>
<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/js/agreement.js"></script>