<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/admin/js/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/js/validate.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script src="__PUBLIC__/js/main.js?v={$version}"></script>
<script src="__PUBLIC__/js/recruit.js?v={$version}"></script>
<div class="projects">
        <div class="container projects-con">
            <form class="form-horizontal" id="resume-info">
                <div class="pro-tit">
                    <h3>
                        填写报名信息
                    </h3>
                </div>
                <div class="col-xs-12 proSN">
                    <div class="col-md-2 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">个人资料</p>
                    </div>
                    <div class="col-md-10 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="col-md-10 col-xs-12 touxian-left">
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-12 control-label"><p>姓名<span class="required">*</span></p></label>
                            <div class="col-md-3 col-xs-12">
                                <input class="form-control" name="info[name]" id="name" type="text" value="{$base.name}" required>
                            </div>
                            
                            <label class="col-md-2 col-xs-12 control-label"><p>性别<span class="required">*</span></p></label>
							<label class="checkbox-inline col-md-2 col-xs-3 full_time">
                           <foreach name="sex" item="r">                            
                                <input type="radio" name="info[sex]" id="optionsRadios13" value="{$key}" required <eq name="base.sex" value="$key">checked</eq> <if condition="empty($base)">checked</if>>&nbsp;{$r}
								&nbsp;&nbsp;
							</foreach>
							 </label>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>身份证号<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
                                <input class="form-control" name="info[card]" id="idCard" type="text" value="{$base.card}" required>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>出生年月<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
                                <input class="form-control dateselect" name="info[birth]" id="birth" type="text" value="{$base.birth}" readonly='true' required>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>户口所在地<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
                                <input class="form-control" name="info[house_address]" id="house_address" type="text" value="{$base.house_address}" required>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>政治面貌<span class="required">*</span></p></label>
                            <div class="col-md-3 col-xs-12">
							<select class="form-control" name="info[political_status]" id="political_status" required>
							<option value="">请选择</option>
<foreach name="policy" item="r" key="k">
<option value="{$k}" <?php if($k==$base['political_status']) echo 'selected';?>>
{$r}</option>
								</foreach>

							</foreach>
							</select>
                            </div>

<!--                            <label class="col-md-3 col-xs-12 control-label"><p>是否符合免试条件<span class="required">*</span></p></label>-->
<!--                            <div class="col-md-2 col-xs-12">-->
<!--                                <select class="form-control" name="info[is_free]" id="is_free" required>-->
<!--                                    <option value="">请选择</option>-->
<!--                                    <option value="0" <if condition="0 eq $base.is_free ">selected</if>>否</option>-->
<!--                                    <option value="1" <if condition="1 eq $base.is_free ">selected</if>>是</option>-->
<!--                                </select>-->
<!--                            </div>-->

<!--                            <label class="col-md-3 col-xs-12 control-label"><p>符合亲属回避原则<span class="required">*</span></p></label>-->
<!--                            <div class="col-md-2 col-xs-12">-->
<!--                                <select class="form-control" name="info[is_huibi]" id="is_huibi" required>-->
<!--								<option value="">请选择</option>-->
<!--								<option value="0" <eq name="base.is_huibi" value="0">selected</eq>>否</option>-->
<!--								<option value="1" <eq name="base.is_huibi" value="1">selected</eq>>是</option>-->
<!--								</select>-->
<!--                            </div>-->

                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>健康状况<span class="required">*</span></p></label>
                            <div class="col-md-3 col-xs-12">
                                <input class="form-control" name="info[health]" id="health" type="text" value="{$base.health}" required>
                            </div>

                            <label class="col-md-3 col-xs-6 control-label"><p>婚姻状况<span class="required">*</span></p></label>
                            <div class="col-md-2 col-xs-12">
                                <select class="form-control" name="info[marriage]" id="marriage" required>
								<option value="">请选择</option>
								<option value="0" <eq name="base.marriage" value="0">selected</eq>>未婚</option>
								<option value="1" <eq name="base.marriage" value="1">selected</eq>>已婚</option>
								</select>
                            </div>

                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>身高<!--<span class="required">*</span>--></p></label>
                            <div class="col-md-2 col-xs-12">
                                <input class="form-control" name="info[height]" id="height" type="text" value="{$base.height}"><!-- required-->
                                <p class="cm">CM</p>
                            </div>

                            <label class="col-md-2 col-xs-6 control-label"><p>体重<!--<span class="required">*</span>--></p></label>
                            <div class="col-md-2 col-xs-12">
                                <input class="form-control" name="info[weight]" id="weight" type="text" value="{$base.weight}"><!-- required-->
                                <p class="cm">KG</p>
                            </div>

                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>民族<span class="required">*</span></p></label>
                            <div class="col-md-3 col-xs-12">
                                <input class="form-control" name="info[nation]" id="nation" type="text" value="{$base.nation}" required>
                            </div>

<!--                            <label class="col-md-2 col-xs-6 control-label"><p>学历<span class="required">*</span></p></label>-->
<!--                            <div class="col-md-3 col-xs-12">-->
<!--                                <select class="form-control" name="info[education]" id="education" required>-->
<!--								<option value="">请选择</option>-->
<!--								<foreach name="education" item="r" key="k">-->
<!--								<option value="{$k}" <if condition=" $k eq $base.education ">selected</if>>{$r}</option>-->
<!--								</foreach>-->
<!--								</select>-->
<!--                            </div>-->

                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-6 control-label"><p>是否985/211<span class="required">*</span></p></label>
                            <div class="col-md-2 col-xs-12">
                                <select class="form-control" name="info[is_famous]" id="is_famous" required>
                                    <option value="">请选择</option>
                                    <option value="1" <if condition="1 eq $base.is_famous ">selected</if>>是</option>
                                    <option value="0" <if condition=" 0 eq $base.is_famous ">selected</if>>否</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-12 control-label"><p>是否全日制<span class="required">*</span></p></label>
                            <label class="checkbox-inline col-md-2 col-xs-3 full_time">
                                <input type="radio" id="base_full_time" name="info[full_time]" value="1" required <eq name="base.full_time" value="1">checked</eq>> 是
								&nbsp;&nbsp;
								 <input type="radio" id="base_full_time" name="info[full_time]" value="0" <eq name="base.full_time" value="0">checked</eq>> 否
                            </label>
                            <label class="checkbox-inline col-md-1 col-xs-3">
                               
                            </label>
                            <label class="col-md-3 col-xs-12 control-label"><p>所学专业(高中填：无)<span class="required">*</span></p></label>
                            <div class="col-md-2 col-xs-12">
                                <input class="form-control" name="info[profession]" id="profession" type="text" value="{$base.profession}" required>
                            </div>

                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-12 control-label"><p>学位<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
								<select class="form-control" name="info[degree]" id="degree" required>
								<option value="">请选择</option>
								<foreach name="degree" item="r" key="k">
								<option value="{$k}" <if condition=" $k eq $base.degree ">selected</if>>{$r}</option>
								</foreach>
								</select>
                            </div>
                        </div>
						<div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-12 control-label"><p>毕业院校<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
                                <input class="form-control" name="info[school]" id="school" type="text" value="{$base.school}" required>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-12 control-label"><p>系部名称<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
								<select class="form-control" name="info[unit]" id="unit" data-select='{$base.unit}'>
								<foreach name="unit" item="r" key="k">
								<option name="{$k}" <eq name="base.unit" value="k">selected</eq>>{$r}</option>
								</foreach>
								</select>
                            </div>

                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="col-md-2 col-xs-12 control-label"><p>报考岗位<span class="required">*</span></p></label>
                            <div class="col-md-9 col-xs-12">
								<select class="form-control" name="info[job]" id="job" data-select="{$base.job}">
								<option >请选择</option>
									<foreach name="job" item="r" key="k">
									<option name="{$k}" <eq name="base.job" value="k">selected</eq>>{$r}</option>
									</foreach>
								</select>
                            </div>
                            <!-- <div class="col-md-1 col-xs-1 err">格式错误</div> -->
                        </div>
                    </div>
                    <div  class="col-md-2 col-xs-12 form-group touxian-right">
                            <div class="img-de">							
                                <img src="<notempty name='base.avatar'>{$base.avatar}<else/>__PUBLIC__/images/index/uptu.png</notempty>" id="img0" class="img-responsive"  >
                            </div>

                            <input type="file" name="avatar"  data-src="{$base.avatar}" id="previewImg" multiple="multiple" value="上传照片" accept="image/png, image/jpeg, image/gif, image/jpg"/>
                        <script>
							$("#previewImg").change(function(){
                                var objUrl = getObjectURL(this.files[0]) ;
                                console.log("objUrl = "+objUrl) ;
                                if (objUrl) {
                                    $("#img0").attr("src", objUrl) ;
                                }
                            }) ;

                            //建立一個可存取到該file的url
                            function getObjectURL(file) {
                                var url = null ;
                                if (window.createObjectURL!=undefined) { // basic
                                    url = window.createObjectURL(file) ;
                                } else if (window.URL!=undefined) { // mozilla(firefox)
                                    url = window.URL.createObjectURL(file) ;
                                } else if (window.webkitURL!=undefined) { // webkit or chrome
                                    url = window.webkitURL.createObjectURL(file) ;
                                }
                                return url ;
                            }

                        </script>
                        <div class="photointro">
                            <p>报考人员上传的照片应为本人近期免冠正面彩色电子照片，jpg格式，宽度200像素左右，高度260像素左右，分辨率350dpi左右，文件大小不超过500K，并保证照片清晰可辨。上传照片不符合规定或上传无关图片者，视为自动放弃考试资格。</p>
                            <p style="color: red">如IE或360浏览器无法显示上传照片,请升级到IE11或360极速模式，也可使用其它浏览器。</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 proSN proSNN">
                    <div class="col-md-3 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">教育情况(从高中开始)</p>
                    </div>
                    <div class="col-md-9 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>

                <div class="addschool" id="addschool">
				<notempty name="edu">
				<?php $k=0;?>
				<foreach name="edu" item="r">
				<?php $show = $k > 0?2:1;?>
                    <div class="blist">
					<eq name="show" value="2">
						<div class="col-md-12 btn-del">
							<a class="glyphicon glyphicon-remove btn form-control-feedback"></a>
						</div>
					</eq>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>开始时间<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control dateselect" name="edu[start_time][{$k}]" id="edu_start_time_{$k}" type="text" value="{$r.start_time}" readonly required>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>结束时间<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control dateselect" name="edu[end_time][{$k}]" id="edu_end_time_{$k}" type="text" value="{$r.end_time}" readonly required>
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>学校<span class="required">*</span></p></label>
                        <div class="col-md-8 col-xs-12">
                            <input class="form-control" name="edu[school][{$k}]" id="edu_school_{$k}" type="text" value="{$r.school}" required>
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p style="font-size: 12px">学位(大专及以下填：无)<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
						   <select class="form-control" name="edu[degree][{$k}]" id="edu_degree_{$k}" required>
							<option value="">请选择</option>
							<foreach name="degree" item="v" key="key">
							<option value="{$key}" <if condition=" $key eq $r.degree ">selected</if>>{$v}</option>
							</foreach>
							</select>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>学历<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
							<select class="form-control" name="edu[education][{$k}]" id="edu_education_{$k}" required>
								<option value="">请选择</option>
								<foreach name="education" item="v" key="key">
								<option value="{$key}" <if condition=" $key eq $r.education ">selected</if>>{$v}</option>
								</foreach>
							</select>
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>专业(高中填：无)<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="edu[profession][{$k}]" id="edu_profession_{$k}" type="text" value="{$r.profession}" required>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>是否全日制<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12 full_time">
                            <input type="radio" name="edu[full_time][{$k}]" id="edu_full_time_{$k}" value="1" <eq name="r.full_time" value="1">checked</eq> required > 是
                            <input type="radio" name="edu[full_time][{$k}]" value="0" id="edu_full_time_{$k}" <eq name="r.full_time" value="0">checked</eq>> 否
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="col-md-1 hrsn"></div>
                        <div class="col-xs-10 hr"></div>
                        <div class="col-md-1 hrsn"></div>
                    </div>
                    </div>
					<?php $k++;?>
				</foreach>						
				</notempty>				
					<include file="education"/>	
                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-5 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">工作经历(包含服兵役,如未参加工作,填：无)</p>
                    </div>
                    <div class="col-md-7 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>



                <div class="work-history">
					<notempty name="work">
                    <foreach name="work" item="r" key="k">
					<div class="blist">
						<div class="col-md-12 btn-del">
							<a class="glyphicon glyphicon-remove btn form-control-feedback"></a>
						</div>
					<div class="col-xs-12 form-group">
						<label class="col-md-2 col-xs-12 control-label"><p>工作单位(或服役部队)<span class="required">*</span></p></label>
						<div class="col-md-9 col-xs-12">
							<input class="form-control" name="work[company][{$k}]" type="text" id="work_company_{$k}" value="{$r.company}" required>
						</div>

					</div>
					<div class="col-xs-12 form-group">
						<label class="col-md-2 col-xs-12 control-label"><p>岗位和职务<span class="required">*</span></p></label>
						<div class="col-md-9 col-xs-12">
							<input class="form-control" id="work_job_{$k}" name="work[job][{$k}]" type="text" value="{$r.job}" required>
						</div>

					</div>

					<div class="col-xs-12 form-group">
						<label class="col-md-2 col-xs-12 control-label"><p>入职日期</p></label>
						<div class="col-md-3 col-xs-12">
							<input class="dateselect form-control" id="work_start_time_{$k}" name="work[start_time][{$k}]" value="{$r.start_time}" type="text" readonly>
						</div>

						<label class="col-md-2 col-xs-12 control-label"><p>离职时间</p></label>
						<div class="col-md-3 col-xs-12">
							<input class="dateselect form-control" name="work[end_time][{$k}]" id="work_end_time_{$k}" type="text" value="{$r.end_time}" readonly>
						</div>

					</div>

					<div class="col-md-12">
						<div class="col-md-1 hrsn"></div>
						<div class="col-xs-10 hr"></div>
						<div class="col-md-1 hrsn"></div>
					</div>
					</div>
					</foreach>					
					</notempty>
					<include file="work"/>
                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-5 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">专业技能、特长及奖惩情况(如没有可不填)</p>
                    </div>
                    <div class="col-md-7 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>

                <div class="work-history">
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>取得专业资格证书</p></label>
                        <div class="col-md-9 col-xs-12">
                            <input class="form-control" name="skill[certificate]" type="text" value="{$skill.certificate}">
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>其它特长</p></label>
                        <div class="col-md-9 col-xs-12">
                            <input class="form-control" name="skill[other]" type="text" value="{$skill.other}">
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>奖惩情况</p></label>
                        <div class="col-md-9 col-xs-12">
                            <input class="form-control" name="skill[rewards]" type="text" value="{$skill.rewards}">
                        </div>

                    </div>


                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-3 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">家庭主要成员情况</p>
                    </div>
                    <div class="col-md-9 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>
                <div class="profamily">
				<notempty name="family">
				<foreach name="family" item="r" key="k">
				<?php $show = $k > 0?1:2;?>
                   <div class="blist">
				   <eq name="show" value="1">
						<div class="col-md-12 btn-del">
							<a class="glyphicon glyphicon-remove btn form-control-feedback"></a>
						</div>
					</eq>
                   <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>成员关系<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="family[relation][{$k}]" placeholder="如:父女" type="text" value="{$r.relation}" id="family_relation_{$k}" required >
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>姓名<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="family[name][{$k}]" type="text" value="{$r.name}" id="family_name_{$k}" required>
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>工作单位<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="family[work_place][{$k}]" type="text" value="{$r.work_place}" id="family_work_place_{$k}" required>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>职务<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="family[job][{$k}]" type="text" id="family_job_{$k}" required value="{$r.job}" >
                        </div>

                    </div>

                    <div class="col-md-1 hrsn"></div>
                    <div class="col-xs-10 hr"></div>
                    <div class="col-md-1 hrsn"></div>
					</div>
					</foreach>
					</notempty>					
					<include file="family"/>
                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-2 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">联系方式</p>
                    </div>
                    <div class="col-md-10 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>


                <div class="contact-way">
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>通讯地址</p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="info[address]" id="address" type="text" value="{$base.address}" >
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>邮政编码</p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="info[postcode]" id="postcode" type="text" value="{$base.postcode}" >
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>手机号码<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="info[mobile]" id="mobile" type="text" value="{$base.mobile}" required>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>固定电话</p></label>
                        <div class="col-md-3 col-xs-12">
                            <input class="form-control" name="info[tel]" id="tel" type="text" value="{$base.tel}" >
                        </div>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>电子邮箱<span class="required">*</span></p></label>
                        <div class="col-md-9 col-xs-12">
                            <input class="form-control" name="info[email]" id="email" type="text" value="{$base.email}" required >
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-2 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">身份证照片</p>
                    </div>
                    <div class="col-md-10 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>
                <div class="contact-way">
                    <div class="col-xs-12 form-group">
                        <label class="col-md-2 col-xs-12 control-label"><p>身份证正面<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <div class="img-de graduation_img_div">
                                <div>
                                    <img src="{$base.card_front}" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                    <input type="file" name="card_front" multiple="multiple" class="required" style="display: none"/>
                                    <input type="hidden" name="card_front1" value="{$base.card_front}"/>
                                </div>
                            </div>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label"><p>身份证反面<span class="required">*</span></p></label>
                        <div class="col-md-3 col-xs-12">
                            <div class="img-de graduation_img_div">
                                <div>
                                    <img src="{$base.card_behind}" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                    <input type="file" name="card_behind" multiple="multiple" class="required" style="display: none"/>
                                    <input type="hidden" name="card_behind1" value="{$base.card_behind}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 proSN">
                    <div class="col-md-2 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">毕业证书<span class="required">*</span></p>
                    </div>
                    <div class="col-md-10 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>

                <div class="contact-way">
                    <div class="col-md-1 col-xs-12 control-label"></div>
                    <div class="col-md-10 titSN-right form-group">
                        <input class="btn btn-primary graduation_img-add" value="新增" type="button">
                        <div class="img-de graduation_img_div">
                            <empty name="graduation_img">
                                <div>
                                    <img src="__PUBLIC__/images/index/uptu.png" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                    <input type="file" name="graduation_img[]" multiple="multiple" class="required graduation_input" style="display: none"/>
                                </div>
                            <else />
                                <foreach name="graduation_img" item="vo" >
                                    <div>
                                        <img src="{$vo}" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                        <input type="file" name="graduation_img[]" data-src="{$vo}" multiple="multiple" class="required graduation_input" style="display: none"/>
                                        <input type="hidden" name="graduation_img1[]" value="{$vo}"/>
                                    </div>
                                </foreach>
                            </empty>
                        </div>
                        <br/>
                    </div>
                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-7 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">学信网在线验证报告（必须真实二维码可扫描，否则审核驳回）</p>
                    </div>
                    <div class="col-md-5 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>
                <div class="contact-way">
                    <div class="col-md-3 col-xs-12">
                        <div class="img-de graduation_img_div">
                            <div>
                                <img src="{$base.study_img}" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                <input type="file" name="study_img" multiple="multiple" class="required" style="display: none"/>
                                <input type="hidden" name="study_img1" value="{$base.study_img}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 proSN">
                    <div class="col-md-2 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">执业资格证</p>
                    </div>
                    <div class="col-md-10 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>
                <div class="contact-way">
                    <label class="col-md-2 col-xs-12 control-label"><p>是否有执业资格<span class="required">*</span></p></label>
                    <label class="checkbox-inline col-md-2 col-xs-3 full_time">
                        <input type="radio" id="is_operation" name="info[is_operation]" value="1" required <if condition="$base.is_operation eq 1">checked</if>> 有
                        &nbsp;&nbsp;
                        <input type="radio" id="is_operation" name="info[is_operation]" value="0" <if condition="$base.is_operation eq 0">checked</if>> 没有
                    </label>

                    <div class="col-md-3 col-xs-12">
                        <div class="img-de graduation_img_div">
                            <div>
                                <if condition="$resume_qualifications.operation_img neq null">
                                        <img src="{$resume_qualifications.operation_img}" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                        <input type="file" name="operation_img" multiple="multiple" class="required" style="display: none"/>
                                        <input type="hidden" name="operation_img1" value="{$resume_qualifications.operation_img}"/>
                                    <else/>
                                        <img src="__PUBLIC__/images/index/uptu.png" class="img-responsive graduation_img"  style="width: 200px; float: left" >
                                        <input type="file" name="operation_img" multiple="multiple" class="required" style="display: none"/>
                                </if>
                            </div>
                        </div>
                    </div>
                </div>

                ?
                <div class="col-xs-12 proSN">
                    <div class="col-md-2 titSN-left ">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                        <p class="titP">技能证书</p>
                    </div>
                    <div class="col-md-10 titSN-right" style="BORDER-TOP: #666666 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></div>
                </div>

                <div class="contact-way">
                    <div class="col-md-1 col-xs-12 control-label"></div>
                    <div class="col-md-10 titSN-right form-group">
                        <input class="btn btn-primary skill-add" value="新增" type="button">
                        <div class="img-de skill_img_div">
                            <empty name="skill_img">
                                <div>
                                    <img src="__PUBLIC__/images/index/uptu.png" class="img-responsive skill_img"  style="width: 200px; float: left" >
                                    <input type="file" name="skill_img[]" multiple="multiple" class="required skill_input" style="display: none"/>
                                </div>
                            <else />
                                <foreach name="skill_img" item="vo" >
                                    <div>
                                        <img src="{$vo}" class="img-responsive skill_img"  style="width: 200px; float: left" >
                                        <input type="file" name="skill_img[]" data-src="{$vo}" multiple="multiple" class="required skill_input" style="display: none"/>
                                        <input type="hidden" name="skill_img1[]" value="{$vo}"/>
                                    </div>
                                </foreach>
                            </empty>
                        </div>
                        <br/>
                    </div>
                </div>
                <script>
                    $(".upload_img_div").on("click","div",function(event){
                        $(event.target).next().click();
                    })
                    $(".upload_img_div").on("change",'input[type="file"]',function(event){
                        var objUrl = getObjectURL(this.files[0]) ;
                        console.log("objUrl = "+objUrl) ;
                        if($(this).next().is('input')){
                            $(this).next().remove();//修改移除old值
                        }
                        if (objUrl) {
                            $(event.target).prev().attr("src", objUrl) ;
                        }
                    })

                    $(".skill-add").click(function(){
                        $(this).next().append('<div>' +
                            '<img src="__PUBLIC__/images/index/uptu.png" class="img-responsive skill_img"  style="width: 200px; float: left" >\n' +
                            '<input type="file" name="skill_img[]" multiple="multiple" class="required skill_input" style="display: none"/>\n' +
                            '</div>');
                    }) ;

                    $(".skill_img_div").on("click","div",function(event){
                        $(event.target).next().click();
                    })
                    $(".skill_img_div").on("change",'input[type="file"]',function(event){
                        var objUrl = getObjectURL(this.files[0]) ;
                        console.log("objUrl = "+objUrl) ;
                        if($(this).next().is('input')){
                            $(this).next().remove();//修改移除old值
                        }
                        if (objUrl) {
                            $(event.target).prev().attr("src", objUrl) ;
                        }
                    })

                    $(".graduation_img-add").click(function(){
                        $(this).next().append('<div>' +
                            '<img src="__PUBLIC__/images/index/uptu.png" class="img-responsive graduation_img"  style="width: 200px; float: left" >\n' +
                            '<input type="file" name="graduation_img[]" multiple="multiple" class="required skill_input" style="display: none"/>\n' +
                            '</div>');
                    }) ;

                    $(".graduation_img_div").on("click","div",function(event){
                        $(event.target).next().click();
                    })
                    $(".graduation_img_div").on("change",'input[type="file"]',function(event){
                        var objUrl = getObjectURL(this.files[0]) ;
                        console.log("objUrl = "+objUrl) ;
                        if($(this).next().is('input')){
                            $(this).next().remove();//修改移除old值
                        }
                        if (objUrl) {
                            $(event.target).prev().attr("src", objUrl) ;
                        }
                    })
                </script>


                <div class="col-md-12 tijiao" style="text-align:center;">
                    <input type="submit" id="resume-btn" class="btn btn-primary btn-lg" value="保存修改">
                </div>
            </form>

        </div>

</div>
<style>
.form-agreen #agree-error{width:100% !important;}
</style>

<script src="__PUBLIC__/js/recruit_list.js?v={$version}"></script>
<script>
	$(function(){
		$('.projects-con').on('click','.dateselect',function(){
			WdatePicker({dateFmt:'yyyy.MM.dd',readOnly:true})
		});
		Recruit.init($('#unit'),$('#job'));
	});
    //图片上传预览    IE是用了滤镜。
    function previewImage(file)
    {
        var MAXWIDTH  = 200;
        var MAXHEIGHT = 260;
        var div = document.getElementById('preview');
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id=imghead onclick=$("#previewImg").click()>';
            var img = document.getElementById('imghead');
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
        }
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight ){
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight ){
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else{
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }
        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }
</script>