<include file="Public:header" />
<script src="/Public/js/jquery.form.js"></script>
<style>.move_cat{display:inline-block}</style>

<div id="content">
    <div id="content-header">
		 <h1>
	<neq name="Think.session.admin.role_id" value="1">
       您好!<b>{$Think.session.admin.city_name}用户</b>,
	</neq>	
		欢迎访问石家庄财经职业学院聘用制员工招聘报名审核系统
		</h1>
    </div>
		<div class="biaoti">
		<a href="{:U('Recruit/index','tt=1')}"><p class="ti1">报名审核</p></a>
	</div>
	<br/>
	<br/>
	
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
            
            	<form class="well form-search" method="get" action="__ACTION__" id="searchform">
					<input type="hidden" name="status" value="{$status}">
					<span>系部名称：
						<select name="unit" id="recurit_unit" data-select="{$Think.get.unit}" style="width:140px;">
							<option value='0'>请选择</option>
							<foreach name="unit" item="r" key="k">
							<option value='{$k}' <if condition=" $k eq $Think.get.unit ">selected</if>>{$r.name}</option>
							</foreach>
						</select> &nbsp;报考岗位
                        <select name="job" id="recurit_job" data-select="{$Think.get.job}" style="width:110px;">
							<option value='0'>请选择</option>
						</select> &nbsp;
						出生日期：
						<input type="text" name="start_time" value="{$Think.get.start_time}" style="width: 70px;" onclick="WdatePicker({dateFmt:'yyyy.MM.dd'})"> -
						<input type="text" name="end_time" value="{$Think.get.end_time}" style="width:70px;" onclick="WdatePicker({dateFmt:'yyyy.MM.dd'})"> &nbsp; &nbsp;
						性别：<select name="sex" style="width:65px;">
								<option value="">不限</option>
								<option value="1" <eq name="Think.get.sex" value="1">selected</eq>>男</option>
								<option value="2" <eq name="Think.get.sex" value="2">selected</eq>>女</option>
								</select>
						&nbsp;
						学历：<select name="education" style="width:100px;">
								<option value="0" >不限</option>
								<foreach name="education" item="r" key="k">
								<option value="{$k}" <if condition=" $k eq $Think.get.education ">selected</if>>{$r}</option>
								</foreach>
								</select>
						<eq name="Think.session.admin.role_id" value="1">
						准考证： 
						<input type="text" name="no" style="width: 90px;" value="{$Think.get.no|trim}" placeholder="准考证...">	
						</eq>
						关键字： 
						<input type="text" name="keyword" style="width: 90px;" value="{$Think.get.keyword|trim}" placeholder="请输入关键字...">
						<!-- <input type="submit" class="btn btn-primary search-list" value="搜索" />		 -->
						
						<eq name="Think.session.admin.role_id" value="1">
						<a name="do" class="btn btn-primary" href="{:U('Recruit/statnum')}" />统计</a>
					
					
						<a class="btn btn-primary" href="{:U('User/excellist')}" target="_blank"/>信息导出记录</a>
						
						</eq>					
					</span>						
				</form>
				<eq name="Think.session.admin.role_id" value="1">
					<form action="__URL__/export_bao" id="form-import" enctype="multipart/form-data" method="post">
					<input type="file" name="student" value="请选择文件">
					<input type="submit" id="btn-import1" class="btn btn-primary" value="名单导入"/>
					</form>
				</eq>	
				
                <div class="widget-box">
                <form action="{:U('Recruit/listorders')}" method="post">
                    <div class="widget-title">
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>
                        <h5 class="pull-left">应聘人员列表&nbsp;&nbsp;&nbsp;
						
						</h5>
                    </div>
                    
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
                                <th><i class="icon-resize-vertical"></i></th>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>性别</th>							
                                <th>出生年月</th>
							<lt name="status" value="2">								
                                <th>考场</th>
                                <th>准考证号</th>
							</lt>	
							<eq name="status" value="0">
								<th>状态</th>
							</eq>
								<th>系部名称</th>
                                <th>报考岗位</th>
                                <th>毕业院校</th>
                                <th>学历</th>
                                <th>专业</th>
                                <th>全日制</th>
                                <th>符合亲属回避</th>         
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
							<?php 
							$page = isset($_GET['p'])?intval($_GET['p']):1;
							$m = 1+($page-1)*20
							?>
                            <volist name="list" id="vo">							
						
                                <tr>                          
                                <td><input type="checkbox" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"/></td> 
                                <td>
								<eq name="vo.is_lock" value="1">
								<i class="icon icon-lock"></i>
								</eq>
								{$m}
								</td> 								
                                <td>								
								<if condition=" $vo.status eq 2 and $vo.is_ok eq 1 and in_array($status,array(0,2))">
								<span class="required">*</span>
								</if>								
								{$vo.name}</td>
                                <td>{$sex[$vo[sex]]}</td>                               
								<td>{$vo.birth}</td>
								<lt name="status" value="2">
								<td>
								<if condition="$vo.exam_no gt 0">
								{$vo.exam_no}
								</if>
								</td>
								<td>{$vo.no}</td>
								</lt>
								<eq name="status" value="0">
								<td>{$recuit_status[$vo[status]]}</td>
								</eq>
								<td>{$unit[$vo[unit]][name]}</td>
                                <td>{$job[$vo[job]]}</td>   
								<td>{$vo.school}</td>
                                <td>{$education[$vo[education]]}</td>
								<td>{$vo.profession}</td>
								<td>{$full_time[$vo[full_time]]}</td>
								<td>{$is_huibi[$vo[is_huibi]]}</td>
                                                        
                                <td class="center">
                                    <a href="javascript:;" id="detail_{$vo.id}">
									<eq name="vo.status" value="2">
									<span class="btn btn-primary btn-mini ">审核</span>
									<else/>
									<span class="btn btn-success btn-mini">详情</span>
									</eq>
									</a>
									<a href="{:U('Recruit/excel',array('id'=>$vo[id]))}" target="_blank">
									<span class="btn btn-success btn-mini">报名表导出</span>
									</a>
										<!-- <a href="" target='_blank'>导出</a> -->
                                </td>
                                </tr>
									<?php $m++;?>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                    <div class="widget-title">
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>  
						 <h5 style="padding-top:5px;">
													
							<eq name="Think.session.admin.role_id" value="1">
							
							&nbsp;&nbsp;
							<!-- <a class="btn btn-primary btn-small btn-unlock" data-href="{:U('Recruit/unlock')}" href="javascript:;"/>解锁</a> -->
							&nbsp;&nbsp;
							<a class="btn btn-primary btn-small" href="{:U('Recruit/export_bao_xls')}"/>批量导出报名表</a>
							</eq>
							
							
	                    	</h5>
                    </div>
                    <div class="widget-bottom">
                        <div class="dataTables_filter">
	                        
	                    </div>
                        <div class="dataTables_paginate">
                            {$pages}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/recruit_list.js"></script>
<script src="__PUBLIC__/js/recruit.js"></script>

<script>
var form = $('#searchform');
$(function(){
	$('#btn-import').click(function(){
		var obj = $('#form-import');	

		var options={
			url:obj.attr('action'),
			success:function(data){
				layer.closeAll();
				layer.confirm(data.info,{btn: ['确定']});
			},
			beforeSubmit:function(){
				layer.load();
			},
			dataType : "json",
		};						
		obj.ajaxSubmit(options);						
	});
});


function moveto(){
	$('.move_cat').toggle();
}
$(document).ready(function(){
	var ids;
	$('.btn-do').click(function(){
		ids = get_ids();
		var checked = $('#print-type').prop('checked');

		if(ids.length==0 && checked==false){
			layer.msg('请选择信息', {icon: 5});
			return false;
		}		
		var url = $(this).data('href');
		if(url.indexOf('?')!= -1){
			url+='&ids='+ids;
		}else{
			url+='?ids='+ids;
		}
		if($(this).attr('id')=='btn-print'){
			window.open(url,'_blank');  
		}else if($(this).attr('id')=='btn-verify'){
			location.href = url;  
		}else{
			location.href = $(this).data('href')+'?'+$('#searchform').serialize();
		}				
		return false;
	});
	
	function get_ids(){
		return $(':checkbox[name="ids[]"]:checked').map(function(){
			return $(this).val();
		}).get();
	}

Recruit.bind($('#recurit_unit'),$('#recurit_job'));	
Recruit.childSelect($('#recurit_unit'),$('#recurit_job'));	
})
</script>
<include file="Public:footer" />