<include file="Public:header" />
<script src="/Public/js/jquery.form.js"></script>
<style>.move_cat{display:inline-block}</style>

<div id="content">
    <div id="content-header">
		 <h1>
	<neq name="Think.session.admin.role_id" value="1">
       您好!<b>{$Think.session.admin.city_name}用户</b>,
	</neq>	
		欢迎访问石家庄财经职业学院报名审核系统
		</h1>
    </div>
		<div class="biaoti">
		<a href="{:U('Recruit/index','tt=1')}"><p class="ti1">报名审核</p></a>
		<a href="{:U('Recruit/index','tt=2')}"><p class="ti2">笔试分数</p></a>
	</div>
	<br/>
	<br/>
    <div class="condition">
        <div class="well condi-1">
            <H5 class="condi-P">审核状态:</H5>
            <ul>
<!--                <li <eq name="is_free" value="1">class="pup"</eq>><a href="{:U('Recruit/index', ['is_free' => 1])}">免试待审核({$result[2]})</a></li>-->
<!--                <li <eq name="status" value="2">class="pup"</eq>><a href="{:U('Recruit/index','status=2')}">待审核({$result[2]})</a></li>-->
<!--                <li <eq name="status" value="3">class="pup"</eq>><a href="{:U('Recruit/index','status=3')}">未通过({$result[3]})</a></li>-->
<!--                <li <eq name="status" value="4">class="pup"</eq>><a href="{:U('Recruit/index','status=4')}">资料待完善({$result[4]})</a></li>-->
<!--                <li <eq name="status" value="1">class="pup"</eq>><a href="{:U('Recruit/index','status=1')}">审核通过({$result[1]})</a></li>-->
<!--				<li <eq name="status" value="5">class="pup"</eq>><a href="{:U('Recruit/index','status=5')}">免试通过({$result[5]})</a></li>-->
<!--				<li <eq name="status" value="0">class="pup"</eq>><a href="{:U('Recruit/index','status=0')}">全部({$result|array_sum})</a></li>-->

<!--				<li <eq name="status" value="6">class="pup"</eq>><a href="{:U('Recruit/index','is_free=1&status=6')}">免试待审核({$result[6]})</a></li>-->
<!--				<li <eq name="status" value="2">class="pup"</eq>><a href="{:U('Recruit/index','is_free=0&status=2')}">待审核({$result[2]})</a></li>-->
<!--				<li <eq name="status" value="3">class="pup"</eq>><a href="{:U('Recruit/index','is_free=0&status=3')}">未通过({$result[3]})</a></li>-->
<!--				<li <eq name="status" value="4">class="pup"</eq>><a href="{:U('Recruit/index','is_free=0&status=4')}">资料待完善({$result[4]})</a></li>-->
<!--				<li <eq name="status" value="1">class="pup"</eq>><a href="{:U('Recruit/index','is_free=0&status=1')}">审核通过({$result[1]})</a></li>-->
<!--				<li <eq name="status" value="5">class="pup"</eq>><a href="{:U('Recruit/index','is_free=0&status=5')}">免试通过({$result[5]})</a></li>-->
<!--				<li <eq name="status" value="0">class="pup"</eq>><a href="{:U('Recruit/index','is_free=0&status=0')}">全部({$result|array_sum})</a></li>-->

				<li <eq name="status" value="6">class="pup"</eq>><a href="{:U('Recruit/index','status=6')}">免试待审核({$result[6]})</a></li>
				<li <eq name="status" value="2">class="pup"</eq>><a href="{:U('Recruit/index','status=2')}">待审核({$result[2]})</a></li>
				<li <eq name="status" value="3">class="pup"</eq>><a href="{:U('Recruit/index','status=3')}">未通过({$result[3]})</a></li>
				<li <eq name="status" value="4">class="pup"</eq>><a href="{:U('Recruit/index','status=4')}">资料待完善({$result[4]})</a></li>
				<li <eq name="status" value="1">class="pup"</eq>><a href="{:U('Recruit/index','status=1')}">审核通过({$result[1]})</a></li>
				<li <eq name="status" value="5">class="pup"</eq>><a href="{:U('Recruit/index','status=5')}">免试通过({$result[5]})</a></li>
				<li <eq name="status" value="0">class="pup"</eq>><a href="{:U('Recruit/index','status=0')}">全部({$result|array_sum})</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
            
            	<form class="well form-search" method="get" action="__ACTION__" id="searchform">
					<input type="hidden" name="status" value="{$status}">
					<span>系部名称：
						<select name="unit" id="recurit_unit" data-select="{$Think.get.unit}" style="width:140px;">
							<option value='0'>请选择</option>
							<foreach name="unit" item="r" key="k">
							<option value='{$r.id}' <if condition=" $k eq $Think.get.unit ">selected</if>>{$r.name}</option>
							</foreach>
						</select> &nbsp;报考岗位
                        <select name="job" id="recurit_job" data-select="{$Think.get.job}" style="width:110px;">
							<option value='0'>请选择</option>
						</select> &nbsp;
						出生日期：
						<input type="text" name="start_time" value="{$Think.get.start_time}" style="width: 70px;" onclick="WdatePicker({dateFmt:'yyyy.MM.dd'})"> -
						<input type="text" name="end_time" value="{$Think.get.end_time}" style="width:70px;" onclick="WdatePicker({dateFmt:'yyyy.MM.dd'})"> &nbsp; &nbsp;
						性别：<select name="sex" style="width:65px;">
								<option value="">不限</option>
								<option value="1" <eq name="Think.get.sex" value="1">selected</eq>>男</option>
								<option value="2" <eq name="Think.get.sex" value="2">selected</eq>>女</option>
								</select>
						&nbsp;
						是否已支付：<select name="is_pay_status" style="width:80px;">
									<option value="3">全部</option>
									<option value="1" <eq name="Think.get.is_pay_status" value="1">selected</eq>>已支付</option>
									<option value="0" <eq name="Think.get.is_pay_status" value="0">selected</eq>>未支付</option>
								</select>
						&nbsp;
						学历：<select name="education" style="width:100px;">
								<option value="0" >不限</option>
								<foreach name="education" item="r" key="k">
								<option value="{$k}" <if condition=" $k eq $Think.get.education ">selected</if>>{$r}</option>
								</foreach>
								</select>
						<eq name="Think.session.admin.role_id" value="1">
						准考证： 
						<input type="text" name="no" style="width: 90px;" value="{$Think.get.no|trim}" placeholder="准考证...">	
						</eq>
						关键字： 
						<input type="text" name="keyword" style="width: 90px;" value="{$Think.get.keyword|trim}" placeholder="请输入关键字...">
						确认考试： 
						 <select name="is_join" id="is_join" style="width:110px;">
							<option value='3'>不限</option>
							<option value='1' <eq name="Think.get.is_join" value="1">selected</eq>>是</option>
							<option value='0' <eq name="Think.get.is_join" value="0">selected</eq>>否</option>
						</select> 
						<input type="submit" class="btn btn-primary search-list" value="搜索" />
						<input type="submit" name="do" class="btn btn-primary  search-list" value="导出所有" />
						<eq name="status" value="1">
						<input type="submit" id="name-list" name="do" class="btn btn-primary" value="导出花名册" />
						</eq>
						
						<eq name="Think.session.admin.role_id" value="1">
						<a name="do" class="btn btn-primary" href="{:U('Recruit/statnum')}" />统计</a>
						<a class="btn btn-primary" href="{:U('Recruit/statEdu')}" target="_blank"/>学历分布统计</a>
						<a class="btn btn-primary" href="{:U('Recruit/examclass')}" target="_blank"/>准考证区间</a>						
						<a class="btn btn-primary" href="{:U('User/excellist')}" target="_blank"/>信息导出记录</a>						
						<a class="btn btn-primary" href="{:U('Recruit/note')}" target="_blank"/>书签</a>						
						</eq>					
					</span>						
				</form>
				<eq name="Think.session.admin.role_id" value="1">
					<form action="__URL__/import" id="form-import" enctype="multipart/form-data" method="post">
					<input type="file" name="student" value="请选择文件">
					<input type="button" id="btn-import" class="btn btn-primary" value="成绩导入"/>
					</form>
				</eq>	
				
                <div class="widget-box">
                <form action="{:U('Recruit/listorders')}" method="post">
                    <div class="widget-title">
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>
                        <h5 class="pull-left">应聘人员列表&nbsp;&nbsp;&nbsp;
						<eq name="status" value="2">
						(<span class="required">*</span>代表完善资料)
						</eq>
						</h5>
                    </div>
                    
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
                                <th><i class="icon-resize-vertical"></i></th>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>性别</th>							
                                <th>出生年月</th>
							<lt name="status" value="2">								
                                <th>考场</th>
                                <th>准考证号</th>
							</lt>	
							<eq name="status" value="0">
								<th>状态</th>
							</eq>
								<th>系部名称</th>
                                <th>报考岗位</th>
                                <th>毕业院校</th>
                                <th>学历</th>
                                <th>专业</th>
                                <th>全日制</th>
                                <th>符合亲属回避</th> 
                                <th>确认考试</th>         
                                <th>是否支付考试服务费</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
							<?php 
							$page = isset($_GET['p'])?intval($_GET['p']):1;
							$m = 1+($page-1)*20
							?>
                            <volist name="list" id="vo">							
						
                                <tr>                          
                                <td><input type="checkbox" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"/></td> 
                                <td>
								<eq name="vo.is_lock" value="1">
								<i class="icon icon-lock"></i>
								</eq>
								{$m}
								</td> 								
                                <td>								
								<if condition=" $vo.status eq 2 and $vo.is_ok eq 1 and in_array($status,array(0,2))">
								<span class="required">*</span>
								</if>								
								{$vo.name}</td>
                                <td>{$sex[$vo[sex]]}</td>                               
								<td>{$vo.birth}</td>
								<lt name="status" value="2">
								<td>
								<if condition="$vo.exam_no gt 0">
								{$vo.exam_no}
								</if>
								</td>
								<td>{$vo.no}</td>
								</lt>
								<eq name="status" value="0">
								<td>{$recuit_status[$vo[status]]}</td>
								</eq>
								<td>{$unit[$vo[unit]][name]}</td>
                                <td>{$job[$vo[job]]}</td>   
								<td>{$vo.school}</td>
                                <td>{$education[$vo[education]]}</td>
								<td>{$vo.profession}</td>
								<td>{$full_time[$vo[full_time]]}</td>
								<td>{$is_huibi[$vo[is_huibi]]}</td>
								<td>{$is_join[$vo[is_join]]}</td>
								<td>{$is_pay[$vo[is_pay]]}</td>

                                <td class="center">
                                    <a href="javascript:;" id="detail_{$vo.id}">
									<eq name="vo.status" value="2">
									<span class="btn btn-primary btn-mini ">审核</span>
									<else/>
									<span class="btn btn-success btn-mini">详情</span>
									</eq>
									</a>
									
									<eq name="vo.status" value="1">
									 <a href="javascript:;" id="edit_{$vo.id}">
										<span class="btn btn-success btn-mini">编辑考场</span>
									</a>
									</eq>
									
									<a href="{:U('Recruit/excel',array('id'=>$vo[id]))}" target="_blank">
									<span class="btn btn-success btn-mini">报名表导出</span>
									</a>
										<!-- <a href="" target='_blank'>导出</a> -->
                                </td>
                                </tr>
									<?php $m++;?>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                    <div class="widget-title">
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="title-checkbox" />
						</span>  
						 <h5 style="padding-top:5px;">
							<eq name="status" value="1">
							&nbsp;
							<input value="1" type="checkbox" id="print-type" name="type">打印全部
							
							<a class="btn btn-primary btn-small btn-do" data-href="{:U('Recruit/printdetail')}" href="javascript:;" target="_blank" id="btn-print"/>打印报名表</a>
							&nbsp;&nbsp;
							<a class="btn btn-primary btn-small btn-do" data-href="{:U('Recruit/printlist')}" href="javascript:;" target="_blank" id="btn-print"/>打印准考证</a>
							</eq>
							&nbsp;&nbsp;
							<a class="btn btn-primary btn-small btn-do" data-href="{:U('Recruit/verify')}" href="javascript:;" id="btn-verify"/>批量拒绝</a>
							<eq name="Think.session.admin.role_id" value="1">
							&nbsp;&nbsp;
							<a class="btn btn-primary btn-small btn-do" data-href="{:U('Recruit/lock')}" href="javascript:;" id="btn-verify"/>锁定</a>
							&nbsp;&nbsp;
							<a class="btn btn-primary btn-small btn-unlock" data-href="{:U('Recruit/unlock')}" href="javascript:;"/>解锁</a>
							&nbsp;&nbsp;
							<eq name="status" value="1">
							<a class="btn btn-primary btn-small" href="{:U('Recruit/exam')}"/>分配考场</a>
							&nbsp;&nbsp;
							<a class="btn btn-primary btn-small" href="javascript:reset_examno();"/>重新生成准考证号</a>
							&nbsp;&nbsp;
							</eq>
							<a class="btn btn-primary btn-small" href="javascript:export_bao_excel();"/>批量导出报名表</a>
							</eq>
							<!-- <a class="btn btn-primary btn-small btn-do" type="submit"  data-href="{:U('Recruit/printcard')}" href="javascript:;" target="_blank" id="btn-print"/>导出PDF</a> -->
							
	                    	</h5>
                    </div>
                    <div class="widget-bottom">
                        <div class="dataTables_filter">
	                        
	                    </div>
                        <div class="dataTables_paginate">
                            {$pages}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/recruit_list.js"></script>
<script src="__PUBLIC__/js/recruit.js"></script>

<script>
var form = $('#searchform');
var joblist={$job};
function reset_examno(){
	layer.confirm('确认重置准考证号吗，该过程不可逆？',function(index){		
		layer.close(index);
		layer.load(1);
		location.href = '{:U("Recruit/resetExamNo")}';
	});
}
function export_bao_excel(){
	var url = '{:U('Recruit/export_bao_xls',array('status'=>$status))}';
	var where = $('.form-search').serialize();
	url = url+(url.indexOf('?')==-1?'?':'&')+where;
	location.href = url;
	return false;
}

$(function(){	
	$('#btn-import').click(function(){
		var obj = $('#form-import');	

		var options={
			url:obj.attr('action'),
			success:function(data){
				layer.closeAll();
				layer.confirm(data.info,{btn: ['确定']});
			},
			beforeSubmit:function(){
				layer.load();
			},
			dataType : "json",
		};						
		obj.ajaxSubmit(options);						
	});
	$('#name-list').click(function(){
		form.prop('action','__URL__/nameList');
	});
	$('.search-list').click(function(){
		form.prop('action','__ACTION__');
	});
});

var web_status = {$status};
function moveto(){
	$('.move_cat').toggle();
}
$(document).ready(function(){
	var ids;
	$('.btn-do').click(function(){
		ids = get_ids();
		var checked = $('#print-type').prop('checked');

		if(ids.length==0 && checked==false){
			layer.msg('请选择信息', {icon: 5});
			return false;
		}		
		var url = $(this).data('href');
		if(url.indexOf('?')!= -1){
			url+='&ids='+ids;
		}else{
			url+='?ids='+ids;
		}
		if($(this).attr('id')=='btn-print'){
			window.open(url,'_blank');  
		}else if($(this).attr('id')=='btn-verify'){
			location.href = url;  
		}else{
			location.href = $(this).data('href')+'?'+$('#searchform').serialize();
		}				
		return false;
	});
	
	$('.btn-unlock').click(function(){
		var id = get_ids();
		if(id.length==0) {
			layer.msg('请选择信息', {icon: 5});
			return false;
		}
		if(id.length > 1) {
			layer.msg('一次只能解锁一个用户', {icon: 5});
			return false;
		}
		var url = $(this).data('href');
		if(url.indexOf('?')!= -1){
			url+='&id='+id;
		}else{
			url+='?id='+id;
		}
		location.href = url;  
	});
	
	function get_ids(){
		return $(':checkbox[name="ids[]"]:checked').map(function(){
			return $(this).val();
		}).get();
	}
	$("a[id^=detail_]").click(function(){	
		var target = $(this);
		var id = target.prop('id').replace('detail_','');		
		layer.open({
		  type: 2,
		  closeBtn: true,
		  shadeClose: true,
		  area: ['60%', '90%'],
		  fixed: false, //不固定
		  maxmin: true,
		  btn: ['保存', '直接关闭'],
		  yes: function(index, layero){
			var body = layer.getChildFrame('body', index);
			var obj = body.find(':radio[name="status"]:checked');
			var len = obj.length;
			if(len == 0) {
				layer.msg('请审核',{icon:5});return false;
			}
			var status = obj.val();
			var remark = $.trim(body.find('#remark').val());
			$.post('/index.php/admin2/recruit/detail?id='+id,{remark:remark,status:status},function(json){
				debugger
				console.log(json)
				if(json.status==1) {
					if(web_status==0) {
						location.reload();return false;
					}
					if(web_status!=status) {
						target.closest('tr').fadeOut();
					}
					
					layer.closeAll();
					return false;
				}
				layer.msg(json.info,{icon:5});
				return false;
			});
			
		  },
		  btn2: function(){
			layer.closeAll();
		  },
		  content: '/index.php/admin2/recruit/detail?id='+id
		});
	});
	//编辑
	$("a[id^=edit_]").click(function(){	
		var target = $(this);
		var id = target.prop('id').replace('edit_','');		
		layer.open({
		  type: 2,
		  closeBtn: true,
		  shadeClose: true,
		  area: ['60%', '90%'],
		  fixed: false, //不固定
		  maxmin: true,
		  btn: ['保存', '直接关闭'],
		  yes: function(index, layero){
			var body = layer.getChildFrame('body', index);
			var obj = body.find(':text[name="exam_no"]');
			var exam_no = obj.val();
			$.post('/index.php/admin2/recruit/edit?id='+id,{exam_no:exam_no},function(json){
				if(json.status==1) {					
					layer.closeAll();
					location.href = location.href;
					return false;
				}
				layer.msg(json.info,{icon:5});
				return false;
			});
			
		  },
		  btn2: function(){
			layer.closeAll();
		  },
		  content: '/index.php/admin2/recruit/edit?id='+id
		});
	});
	$("a[id^=avatar]").click(function(){
		var src = $(this).data('src');
		layer.open({  
		  type: 1,
		  title: false,
		  closeBtn: true,
		  shade: false,
		  area: '200px',
		  skin: 'layui-layer-nobg', //没有背景色
		  shadeClose: true,
		  content: '<img src="/'+src+'" alt="头像">'
		});
	})
Recruit.bind($('#recurit_unit'),$('#recurit_job'));	
Recruit.childSelect($('#recurit_unit'),$('#recurit_job'));	
})
</script>
<include file="Public:footer" />