<notempty name="list">
<foreach name="list" key="key" item="val">
<?php $rs = array_chunk($val,5);$i=1;?>
<foreach name="rs" item="info">
	<div class="group-list">
	<foreach name="info" key="kk" item="r">
		<div class="notcon">
            <div style="float: left">
				<p style="font-size: 40px;font-weight: bold;display: inline;">考生姓名：{$r.name}</p>
            </div>
            <div style="float: right;">
                <p style="font-size: 40px;display: inline;">座位号：</p><p style="font-size: 60px;display: inline;"><?php echo str_pad($i,2,0,STR_PAD_LEFT)?></p>
            </div>
			<div style="float:left;width:758px;">
				<p>考场：{$r.exam_no} <span style="float:right;">准考证：{$r.no}</span></p>
				<p>报考科室：{$unit[$r[unit]]['name']} <span style="float:right;">报考岗位：{$job[$r[job]]}</span></p>
			</div>
		</div>		
		<?php $i++;?>
	</foreach>
		<if condition=" $kk eq 4 ">
			<div class="PageNext"></div>
		</if>
	</div>
	</foreach>
	
</foreach>
</notempty>
<style>
	.group-list{/*height:350em;*/}
   .notcon{
       width: 800px;
       border-bottom: 1px solid;
	   display:table;
       height:220px;
	   padding:10px;
   }
   .group-list .notcon:first-child{
		padding-top:0px;
   }
    p{
        font-size: 25px;
    }
    span{
        margin-left: 150px;
    }

</style>
<style media="print">   
.PageNext{page-break-after:always;}     
</style>
