<body>
<?php $domain = 'http://' . I("server.HTTP_HOST");?>

<link  rel="stylesheet" type="text/css" media="all" href="{$domain}/Public/css/bootstrap.css">
<link  rel="stylesheet" type="text/css" media="all" href="{$domain}/Public/css/site.css">
<link rel="stylesheet" type="text/css" href="{$domain}/Public/css/print2.css" media="all" />
<foreach name="list" item="r" key="key">
<if condition=" $key gt 1">
<page pageset="old">
</if>
<div id="ticket" style="margin-top: 100pt; padding:50pt; border:none;">
    <div class="" style="border:1pt solid #333; width: auto; padding-bottom: 50pt;">

        <table align="center" cellpadding="0" cellspacing="0"  border=0 bordercolor="#333333">
            <tr>
                <td valign="middle" colspan="10" align="center" class="pdf-title">笔试准考证</td>
            </tr>

            <tr>
                <td class="pdf-left" style="margin-top:30pt;" valign="middle" align="left">姓&nbsp;&nbsp;名:</td>
                <td valign="middle"  align="left">{$r.name}</td>
                <td valign="top" rowspan="5" align="right">
					<empty name="r.avatar">
					<else/>
                    <img src="{$domain}{$r.avatar}" class="img-responsive" width="100"  style=" border: 1px solid #5e5e5e;"/>
					</empty>
                </td>
            </tr>
            <tr>
                <td class="pdf-left" valign="middle"  align="left">报考科室:</td>
                <td valign="middle" align="left">{$unit[$r[unit]][name]}</td>

            </tr>
            <tr>
                <td class="pdf-left" valign="middle" align="left">报考岗位:</td>
                <td valign="middle" align="left">{$job[$r[job]]}</td>
            </tr>
            <tr>
                <td class="pdf-left"  valign="middle"  align="left">准考证号:</td>
                <td valign="middle" align="left">{$r.no}</td>
            </tr>
            <tr>
                <td class="pdf-left" valign="middle" align="left">考试地点:</td>
                <td valign="middle" align="left">{:L('EXAM_DATE')}</td>
            </tr>
			<tr>
                <td class="pdf-left" valign="middle" align="left">考试地点:</td>
                <td class="pdf-right" valign="middle" align="left">{:L('EXAM_ADDRESS')}</td>
            </tr>
            <tr>
                <td colspan="10">
					<h4 style="margin-top:20pt;text-align:center;">注&nbsp; 意:</h4><br/>
					<p>1、考试人员应持准考证、有效身份证进入考场，上述证件不全者不得参加考试。</p>
					<p>2、考试人员不得携带移动通讯工具以及计算器、电子词典等电子设备入场。</p>
					<p>3、考试需准备2B铅笔、橡皮、黑（蓝）墨水钢笔或签字笔。</p>
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
</div>
<if condition=" $key gt 1">
</page>
</if>
</foreach>
<style media='all'>      
#ticket table{margin-top:30pt;}
#ticket td{font-size:12pt;font-family:"微软雅黑";color:#333333;margin-bottom:10pt;}
#ticket td.pdf-title{font-weight:bolder;letter-spacing:10pt;font-size:18pt;padding-bottom:30pt;font-family:"微软雅黑";}
#ticket td.pdf-left{width:30pt;height:30pt;line-height:30pt;}
#ticket td.pdf-right{width:50pt;}
</style>

</body>
