<?php
	$domain = 'http://' . I("server.HTTP_HOST");
?>
		<table align="center" width="1000" height="1350"  table-layout="fixed" cellpadding="0" cellspacing="0"  border=1 bordercolor="#202020">

			<tr>
				<td colspan="10" height="60" align="center" style="font-size:20px; font-family: '黑体' ">石家庄财经职业学院2022年招聘员工报名表</td>
			</tr>
			<tr>
				<td colspan="10" height="30" align="left" style="font-size:18px; background:#feffde;">个人资料</td>

			</tr>
			<tr>
				<td colspan="1" height="33"   width="100" align="center">姓名:</td>
				<td colspan="2" height="33"   width="100" align="center">{$base.name}</td>
				<td colspan="1" height="33"   width="100"  align="center">性别:</td>
				<td colspan="1" height="33"  width="100"   align="center">{$sex[$base['sex']]}</td>
				<td colspan="2" height="33"   width="100"  align="center">出生日期:</td>
				<td colspan="2" height="33"   width="100"  align="center">{$base.birth}</td>
				<td colspan="1" align="center" rowspan="5" align="center" style="width: 230px;">
					<img src="<empty name='base.avatar'>/__PUBLIC__/images/personal/11.png<else/>{$domain}/{$base.avatar}</empty>" width="200"  class="code" id=""/>
				</td>
			</tr>
			<tr><td colspan="1" height="33"   width="100"  align="center">健康状况:</td>
				<td colspan="2" height="33"   width="100" align="center">{$base.health}</td>
				<td colspan="1" height="33"   width="100"  align="center">政治面貌:</td>
				<td colspan="1" height="33"  width="100"  align="center">{$policy[$base['political_status']]}</td>
				<td colspan="2" height="33"  width="100"   align="center">户口所在地:</td>
				<td colspan="2" height="33"   width="200" align="center">{$base.house_address}</td>

			</tr>
			
			<tr>
				<td colspan="1" height="33"  width="100"   align="center">婚姻状况:</td>
				<td colspan="2" height="33"  width="100"  align="center">{$marriage[$base[marriage]]}</td>
				<td colspan="1" height="33"  width="100"   align="center">身高:</td>
				<td colspan="1" height="33"  width="100"  align="center">{$base.height|default=0}CM</td>
				<td colspan="2" height="33"  width="100"   align="center">体重:</td>
				<td colspan="2" height="33"  width="200"  align="center">{$base.weight|default=0}KG</td>

			</tr>
			<tr>
				<td colspan="1" height="33"   width="100"  align="center">民族:</td>
				<td colspan="2" height="33"  width="100"  align="center">{$base.nation}</td>
				<td colspan="1" height="33"  width="100"   align="center">学历:</td>
				<td colspan="1" height="33"  width="100"  align="center">{$education[$base['education']]}</td>
				<td colspan="2" height="33"  width="100"   align="center">所学专业:</td>
				<td colspan="2" height="33"  width="200"  align="center">{$base.profession}</td>
			</tr>
	
			<tr>
				<td colspan="2" height="33"    align="center">毕业院校:</td>
				<td colspan="3" height="33"    align="center">{$base.school}</td>
				<td colspan="2" height="33"     align="center">学位:</td>
				<td colspan="2" height="33"    align="center">{$degree[$base[degree]]}</td>
			</tr>

			<tr>
				<td colspan="2" height="40"    align="center">系部名称:</td>
				<td colspan="3" height="40"    align="center">{$unit[$base[unit]][name]}</td>
				<td colspan="2" height="40"    align="center">报考岗位:</td>
				<td colspan="3" height="40"    align="center">{$job[$base[job]]}</td>
			</tr>
			<tr>
				<td colspan="2" height="40"    align="center">身份证号:</td>
				<td colspan="3" height="40"    align="center">{$base.card}</td>
				<td colspan="2" height="40"    align="center">是否符合回避原则:</td>
				<td colspan="3" height="40"    align="center">{$is_huibi[$base[is_huibi]]}</td>
			</tr>
			<tr>
				<td colspan="10" height="30" align="left" style="font-size:18px; background:#feffde;">教育情况</td>

			</tr>

			<tr>
				<td colspan="3" height="30"    align="center">开始日期-结束日期</td>
				<td colspan="2" height="20"    align="center">学校名称</td>
				<td colspan="1" height="20"    align="center">专业</td>
				<td colspan="1" height="20"    align="center">学历</td>
				<td colspan="2" height="20"    align="center">学位</td>
				<td colspan="1" height="20"    align="center">是否全日制</td>
			</tr>
			<foreach name="edu" item="r">
				<tr>
					<td colspan="3" height="20"    align="center">{$r.start_time}-{$r.end_time}</td>
					<td colspan="2" height="20"    align="center">{$r.school}</td>
					<td colspan="1" height="20"    align="center">{$r.profession}</td>
					<td colspan="1" height="20"    align="center">{$education[$r['education']]}</td>
					<td colspan="2" height="20"    align="center">{$degree[$r['degree']]}</td>
					<td colspan="1" height="20"    align="center">{$full_time[$r[full_time]]}</td>
				</tr>

			</foreach>
			<tr>
				<td colspan="10" height="30" align="left" style="font-size:18px; background:#feffde;">工作经历，包含服兵役经历（如未参加工作，可不填写）</td>
			</tr>
			<tr>
				<td colspan="4" height="30"    align="center">开始日期-结束日期</td>
				<td colspan="4" height="20"    align="center">工作单位</td>
				<td colspan="2" height="20"    align="center">岗位或职务</td>
			</tr>
			<foreach name="work" item="r">
			<tr>
				<td colspan="4" height="20"    align="center">{$r.start_time}-{$r.end_time}</td>
				<td colspan="4" height="20"    align="center">{$r.company}</td>
				<td colspan="2" height="20"    align="center">{$r.job}</td>
			</tr>
			</foreach>
			<tr>
				<td colspan="10" height="30" align="left" style="font-size:18px; background:#feffde;">专业技能专业技能、特长及奖惩情况（如没有，可不填写）</td>

			</tr>
			<tr>
				<td colspan="3" height="20"    align="center">取得的专业资格证书:</td>
				<td colspan="7" height="20"    align="center">{$skill.certificate} </td>
			</tr>
			<tr>
				<td colspan="3" height="20"    align="center">其他特长:</td>
				<td colspan="7" height="20"    align="center">{$skill.other} </td>
			</tr>
			<tr>
				<td colspan="3" height="20"    align="center">奖惩情况:</td>
				<td colspan="7" height="20"    align="center">{$skill.rewards} </td>
			</tr>

			<tr>
				<td colspan="10" height="30" align="left" style="font-size:18px; background:#feffde;">家庭主要成员情况</td>

			</tr>
			<tr>
				<td colspan="2" height="30"    align="center">成员关系</td>
				<td colspan="2" height="30"    align="center">姓名</td>
				<td colspan="4" height="30"    align="center">工作单位</td>
				<td colspan="2" height="30"    align="center">职务</td>
			</tr>
			<foreach name="family" item="r">
			<tr>
				<td colspan="2" height="20"    align="center">{$r.relation}</td>
				<td colspan="2" height="20"    align="center">{$r.name}</td>
				<td colspan="4" height="20"    align="center">{$r.work_place}</td>
				<td colspan="2" height="20"    align="center">{$r.job}</td>
			</tr>
			</foreach>

			<tr>
				<td colspan="10" height="30" align="left" style="font-size:18px; background:#feffde;">联系方式</td>

			</tr>
			<tr>
				<td colspan="2" height="20"    align="center">通讯地址:</td>
				<td colspan="3" height="20"    align="center">{$base.address}</td>
				<td colspan="2" height="20"    align="center">邮政编码:</td>
				<td colspan="3" height="20"    align="center">{$base.postcode}</td>
			</tr>
			<tr>
				<td colspan="2" height="20"    align="center">手机号码:</td>
				<td colspan="3" height="20"    align="center">{$base.mobile}</td>
				<td colspan="2" height="20"    align="center">固定电话:</td>
				<td colspan="3" height="20"    align="center">{$base.tel}</td>
			</tr>
			<tr>
				<td colspan="2" height="20"    align="center">电子邮箱:</td>
				<td colspan="8" height="20"    align="center">{$base.email}</td>
			</tr>					
		</table>
		