<div class="review">
        <div class="container">
            <div class="rev-tit">
                <h3>审核情况</h3>
              
            </div>
           <div class="review-con">		
               <div class="rev rev-yes">
                   <div class="rev-nol">
                       <img src="__PUBLIC__/images/review/review-yes.png" class="img-responsive">
                   </div>
                   <div class="rev-nor">
                       <p>您已确认参加考试</p>
                   </div>
                   <div class="clearfix"></div>
				  
                   <div class="BtnZu"> 
				<if condition=" $now egt strtotime($config['print_start_date']) && $now elt strtotime($config['print_end_date'])">
					   <div class="yesBtn">
                  <a href="{:U('review/ticket')}" id="confirm-print">打印准考证<i class="fa fa-angle-double-right fa-1x" aria-hidden="true"></i></a>
                    <!-- <a href="{:U('review/ticket')}">打印准考证<i class="fa fa-angle-double-right fa-1x" aria-hidden="true"></i></a> -->
                         <!-- <a href="{:U('review/time')}">打印准考证</a> -->
                       </div>
                    <div class="rev-nor" style="width:100%;">
                       
					   </div>
				</if>
                   </div>
               </div>		   
        
		   
            
           </div>
          <p class="p" align="center"  style="text-indent:54.4000pt;text-align:center;background:#FFFFFF;">
	<b>石家庄财经职业学院2022年公开招聘面试公告</b><b></b>
</p>
          <p class="p" align="justify" style="text-indent:29.4000pt;text-align:justify;background:#FFFFFF;">
	根据《石家庄财经职业学院2022年教师公开招聘公告》有关规定，现将2022年教师公开招聘面试工作有关事项公告如下：
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	<b>一、参加面试人员</b><b></b> 
</p>
<p class="p" align="justify" style="text-indent:29.4000pt;text-align:justify;background:#FFFFFF;">
	进入面试环节的考生在网上报名系统自行下载打印《面试试讲准考证》，<span>面试人员</span><span>(</span>报名审核通过且缴费成功)携带有效身份证、《面试试讲准考证》、5份简历（模板见附件一）参加面试。
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	<b>二、面试时间地点</b><b></b> 
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	(一)时间：2022年7月20<span>日</span><span>(星期</span>三)。考生必须于面试当天上午8：30前凭有效身份证、《面试试讲准考证》到考点面试候考室准备候考、抽取面试顺序。考生9:00未进入候考室将视为自动弃权处理。
</p>
<p class="p" style="text-indent:29.4000pt;background:#FFFFFF;">
	(二)地点：石家庄财经职业学院卧龙校区
</p>
<p class="p" style="text-indent:29.4000pt;background:#FFFFFF;">
	(石家庄市鹿泉区卧龙路99号，坐332<span>路公交车到达</span><span>)。</span> 
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	<b>三、面试方式</b><b></b> 
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	教师岗位面试采取试讲方式（板书试讲）；行政岗位不参加试讲。
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	<b>四、面试内容</b><b></b> 
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	试讲内容应与所应聘教师岗位的专业相近或相似，试讲过程全程录像。
</p>
<p class="p" align="justify" style="text-indent:29.5000pt;text-align:justify;background:#FFFFFF;">
	<b>五、面试时长</b><b></b> 
</p>
<p class="p" style="text-indent:29.4000pt;background:#FFFFFF;">
	每位考生面试时长，时间为15-20分钟，包含自我介绍、考官提问环节。
</p>
<p class="p" style="margin-left:27.9500pt;text-indent:0.0000pt;background:#FFFFFF;">
	六、<b><span>面试纪律及注意事项</span> </b><b></b> 
</p>
<p class="p" style="text-indent:29.4000pt;background:#FFFFFF;">
	<span>（一）所有考生面试前统一在指定的候考室等候，实行全封闭式管理，不得随便离开候考室。考生不能携带任何与面试有关的资料及手机、手提包等物品进入候考室，已带来的要统一交工作人员保管，不服从管理者取消面试资格。</span> 
</p>
<p class="p" style="text-indent:29.4000pt;background:#FFFFFF;">
	（二）考生需严格遵守考试纪律，未按要求参加面试的考生视为放弃面试资格，不再提供面试机会；违反考试纪律的考生，成绩按无效处理，后果由考生本人承担。
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	<b>七、特别提示</b><b></b> 
</p>
<p class="p" style="text-indent:29.4pt;background:#FFFFFF;">
	按照疫情防控相关规定，考生须在面试<span>环节，向考务工作人员出示</span><span>“河北健康码”“行程码”“48小时核酸阴性证明”等，经现场测温正常后方可入场。面试当天考生进入考点后，需全程佩戴</span>符合防护要求的口罩（建议佩戴医用外科口罩），仅在入场核验身份时和面试时可以暂时摘下口罩。考生须听从考点工作人员指挥，分散进入考场，进出考场、如<span>厕时均须与他人保持</span>1米以上距离，避免近距离接触交流。
</p>
<p class="p" style="text-indent:29.4pt;background:#FFFFFF;">
	面试环节若考生出现发热、咳嗽等症状，由考点工作人员视情况立即采取隔离措施，送往定点医院进行医治。
</p>
<p class="p" style="text-indent:0pt;background:#FFFFFF;">
	<b>八、入围人员</b><b></b> 
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	<span>面试总成绩为</span><span>100分，考生通过“博汇人才”招考系统查看本人成绩和排名情况，按照分数排名进入</span>资格审查及后续环节。
</p>
<p class="p" align="justify" style="margin-left:0.0000pt;text-indent:25.8000pt;text-align:justify;background:#FFFFFF;">
	<b>九、咨询电话及时间</b><b></b> 
</p>
<p class="p" align="justify" style="text-indent:29.4000pt;text-align:justify;background:#FFFFFF;">
	考务咨询：<span>0311-87261252</span> 
</p>
<p class="p" style="text-indent:29.4000pt;background:#FFFFFF;">
	咨询时间：<span>周一至周五</span><span>9</span><span>：</span><span>00</span><span>—</span><span>12</span><span>：</span><span>00</span><span>、</span><span>14</span><span>：</span><span>00</span><span>—</span><span>17</span><span>：</span><span>00</span> 
</p>
          
          <p class="MsoNormal" style="text-indent:2em;">
	<br />
</p>
<p class="MsoNormal" style="text-indent:2em;">
	<br />
</p>
<p class="MsoNormal" style="text-indent:2em;">
	<br />
</p>
         
          
          
          
          <a class="ke-insertfile" href="/upload/file/20220718/20220718140118_23830.doc" target="_blank"><b>附件1：应聘简历</b><b></b></a>
<p class="MsoNormal">
	<br />
</p>
        </div>
</div>
