<div class="review">
        <div class="container">
            <div class="rev-tit">
                <h3>审核情况</h3>
            </div>
           <div class="review-con">
		   <eq name="data.is_lock" value="1">
		    <div class="rev rev-no">
                   <div class="rev-nol">
                       <img src="__PUBLIC__/images/review/review-no.png" class="img-responsive">
                   </div>
                   <div class="rev-nor">
                       <p>{:L('MSG_LOCK')}</p>
                       
                   </div>
				    <div class="clearfix"></div>					
               </div>
			
		   <else/>
		    <!-- 正在审核 -->
	
			<if condition="$data.status ==2  || check_audit_time($data['audit_time']) ">
               <div class="rev rev-ing">
                   <div class="rev-nol">
                       <img src="__PUBLIC__/images/review/review1.png" class="img-responsive">
                   </div>
                   <div class="rev-nor">
                       <p>您已经成功上传了相关资料，我们工作人员正在审核中。</p>
                   </div>
               </div>
			 <!-- 审核通过 -->
			<elseif condition="$data.status ==1 "/>
               <div class="rev rev-yes">
                   <div class="rev-nol">
                       <img src="__PUBLIC__/images/review/review-yes.png" class="img-responsive">
                   </div>
                   <div class="rev-nor">
                       <p>
                           您的报名信息已经通过审核
                           <if condition="$data.is_pay == 0 ">
                               <a href="/index.php/home/user/pay">前往支付考试服务费</a>
                           </if>
                       </p>
                   </div>
                   <div class="clearfix"></div>
                   <div class="BtnZu">

					   
                <if condition=" $now egt strtotime($config['confirm_start_date']) && $now elt strtotime($config['confirm_end_date'])">
                          <div class="yesBtn">
                              <a href="javascript:void(0);" id="confirm-print">确认参加笔试？<i class="fa fa-angle-double-right fa-1x" aria-hidden="true"></i></a>
                                <!-- <a href="{:U('review/ticket')}">打印准考证<i class="fa fa-angle-double-right fa-1x" aria-hidden="true"></i></a> -->
                             <!-- <a href="{:U('review/time')}">打印准考证</a> -->
                           </div>
                     <else/>
                            <div class="rev-nor" style="width:100%">
<!--                               <p>确认笔试时间：{$config['confirm_start_date']} 至 {$config['confirm_end_date']}</p>-->
                                <p>确认笔试时间请查看 <a target="_blank" style="color: red" href="https://mp.weixin.qq.com/s/Hf3YrYvim8zxA5PpaUSkQA">石家庄工程职业学院2022年公开招聘线上笔试公告</a></p>
                           </div>
                </if>
				
                   </div>
               </div>
               <script src="__PUBLIC__/layer/layer.js"></script>
               <script>
                $(function(){
                  $('#confirm-print').click(function(){
                      layer.confirm(
                          // "确认参加笔试？<br/>请于{$config['confirm_start_date']}—{$config['confirm_end_date']}期间进行确认,逾期未确认者，将无法打印准考证及参加笔试。确认参加笔试的考生笔试当天（{$config['confirm_start_date']}）需携带{$config['confirm_start_date']}至{$config['confirm_end_date']}期间核酸检测报告，结果阴性方可参加笔试。<br>",
                          "确认参加笔试？<br/>因疫情原因考试待定，考试前会以短信形式通知打印准考证<br>",
                          {area: ['350px', '250px']},function(){
                        layer.load(1);
                        $.post('/index.php/home/review/confirm',{},function(res){
                          layer.closeAll();
                          if(res.status==1) {
                            location.href = res.url;return false;
                          }
                          layer.msg(res.info,{icon:2});
                        }); 
                      });
                      return false;
                  });
                });
               </script>
		
			 
			  <!-- 审核失败 -->
			<elseif condition="$data.status ==3 "/>
               <div class="rev rev-no">
                   <div class="rev-nol">
                       <img src="__PUBLIC__/images/review/review-no.png" class="img-responsive">
                   </div>
                   <div class="rev-nor">
                       <p>经审核，您的报名信息不符合我们招聘条件。</p>
                       
                   </div>
				    <div class="clearfix"></div>
					<notempty name="data.remark">
                   <div class="rev-con">
                       <div class="rev-con-1">
                           <h5>工作人员提示:</h5>
                           <div class="rev-conP">
                               <p>{$data.remark}</p>
                           </div>
                       </div>
                   </div>
				   
					</notempty>
					   <div class="clearfix"></div>
					   <div class="yesBtn">
						 <a href="{:U('recruit/modify')}">点击完善报名资料<i class="fa fa-angle-double-right fa-1x" aria-hidden="true"></i></a>
					   </div>
               </div>
	
			  <!-- 资料不全 -->
			<elseif condition="$data.status ==4 "/>
               <div class="rev rev-mod">
                   <div class="rev-nol">
                       <img src="__PUBLIC__/images/review/review-no.png" class="img-responsive">
                   </div>
                   <div class="rev-nor">
                       <p>您的报名资料信息不完善，请完善资料后重新提交审核。</p>
                   </div>
                   <div class="clearfix"></div>
                   <div class="rev-con">
                       <div class="rev-con-1">
                           <h5>工作人员提示:</h5>
                           <div class="rev-conP">
                               <p>{$data.remark}</p>
                           </div>
                       </div>
                   </div>
                   <div class="clearfix"></div>
                   <div class="yesBtn">
                       <a href="{:U('recruit/modify')}">点击完善报名资料<i class="fa fa-angle-double-right fa-1x" aria-hidden="true"></i></a>
                   </div>

               </div>
			  <!-- 资料不全 -->
			<elseif condition="$data.status ==5 "/>
                <div class="rev rev-yes">
                    <div class="rev-nol">
                        <img src="__PUBLIC__/images/review/review-yes.png" class="img-responsive">
                    </div>
                    <div class="rev-nor">
                        <p>您的报名信息已经通过审核（免试）</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="BtnZu">
                    </div>
                </div>
            </if>
			</eq>
			   
           </div>
        </div>
</div>
