<!DOCTYPE html>
<html lang="en">
<head>
	<title>{:C('NAME')}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{:C('SITE_KEYWORDS')}" />
	<meta name="keywords" content="{:C('SITE_DESCRIPTION')}" />
	<meta http-equiv="x-ua-compatible" content="IE=9" >
	<meta http-equiv="x-ua-compatible" content="IE=8" >
	<meta http-equiv="x-ua-compatible" content="IE=7" >
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link  rel="stylesheet" media="screen" href="__PUBLIC__/css/bootstrap.css">
	<link  rel="stylesheet" media="screen" href="__PUBLIC__/css/site.css?v=20170828">
	<link  rel="stylesheet" media="screen" href="__PUBLIC__/css/font-awesome.min.css">
	<link  rel="stylesheet" media="screen" href="__PUBLIC__/css/swiper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/print.css" media="print" />


	<script src="__PUBLIC__/js/modernizr-2.6.2.min.js"></script>
	<!-- <script src="__PUBLIC__/js/imageuploadpreview.js"></script> -->
	<!-- [if lt IE 9] -->
	<script src="__PUBLIC__/js/html5shiv.min.js"></script>
	<script src="__PUBLIC__/js/respond.min.js"></script>
	<script src="__PUBLIC__/js/selectivizr-min.js"></script>
	<!-- [endif] -->
	<script src="__PUBLIC__/js/jquery-1.12.4.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>


</head>




