<div class="container">
    <div class="top">
<nav class="navbar navbar-default ding-nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Index/index')}">
                <h2 style="padding-top: 13px;">{:C('SITE_TITLE')}</h2>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li> <a  href="{:U('Index/index')}" >首页</a></li>				
                <li> <a href="{:U('recruit/agreement')}">报名</a></li>
				
                <li><a href="{:U('Review/index')}">审核结果</a></li>
				
                <li><a href="{:U('user/index')}">个人信息</a></li>
				<if condition=" empty(session('user.id'))">
                <li><a href="{:U('Login/register')}">注册</a></li>
                <li><a href="{:U('Login/index')}">登录</a></li>
				<else/>
				 <li><a href="{:U('user/logout')}">注销</a></li>
				</if>
              
            </ul>
        </div>
    </div>
</nav>
</div>
</div>
<div class="gradient"></div>
<script>
    $('.navbar-nav li a').each(function(){  //给li加'current'状态
        if($($(this))[0].href==String(window.location))
            $(this).parent().addClass('active');
    });
</script>